<!DOCTYPE html>

{% load staticfiles %}
{% load i18n %}
{% load irunner_messagebox %}
{% load irunner_next %}

<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ system_full_name }}</title>

        <link rel="icon" type="image/png" href="{% static 'favicon.png' %}">
        <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
        {#<link href="{% static 'bootstrap/css/bootstrap-theme.css' %}" rel="stylesheet">#}
        <link href="{% static 'fancytree-2.13.0/skin-win8/ui.fancytree.min.css' %}" rel="stylesheet">
        <link href="{% static 'irunner2.css' %}?{{ REVISION }}" rel="stylesheet">
        <link href="{% static 'DataTables-1.10.10/media/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'Highlight.js/styles/github.css' %}" rel="stylesheet">

        <!--[if lt IE 9]>
            <script src="{% static 'html5shiv/html5shiv.min.js' %}"></script>
            <script src="{% static 'respond/respond.min.js' %}"></script>
        <![endif]-->

        <script src="{% static 'jquery/jquery-1.11.3.min.js' %}"></script>
        <script src="{% static 'jquery-ui-1.11.4.custom/jquery-ui.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'fancytree-2.13.0/jquery.fancytree-all.min.js' %}"></script>
        <script src="{% static 'DataTables-1.10.10/media/js/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'DataTables-1.10.10/media/js/dataTables.bootstrap.min.js' %}"></script>
        <script src="{% static 'irunner2.js?{{ REVISION }}' %}"></script>
        <script src="{% url 'js_reverse' %}"></script>

        {% block head %}
        {% endblock %}
    </head>
    <body>
        {% block allbody %}

        {% include 'navbar.html' %}

        <div class="container">
        {% if user.is_authenticated and user.userprofile and user.userprofile.needs_change_password and not disable_change_password_warning %}
            {% irunner_messagebox 'warning' wide=True %}
                <p class="text-center">
                    {% trans 'Please set up a new password instead of default one.' %} <a href="{% url 'password_change' %}">{% trans 'Change password' %}.</a>
                </p>
            {% irunner_endmessagebox %}
        {% endif %}
        {% if debug_message %}
            {% irunner_messagebox 'info' wide=True %}
                {{ debug_message }}
            {% irunner_endmessagebox %}
        {% endif %}
        {% block content %}
        {% endblock %}
        </div>
        {% endblock %}{# allbody #}

        <footer class="footer">
            <div class="container">
                <div class="ir-footer">
                    <div>{{ system_full_name }} #{{ REVISION }}</div>
                    <div>&copy; 2001&thinsp;&ndash;&thinsp;{% now "Y" %} {% trans 'DMA department of FAMCS BSU' %}</div>
                    <div>
                        <a href="{% url 'about' %}">{% trans 'About' context 'about the system' %}</a>
                        <a href="{% url 'language' %}?next={% irunner_next %}">Язык&thinsp;/&thinsp;Language</a>
                        <a href="{% url 'feedback:new' %}">{% trans 'Feedback' %}</a>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
