{% extends "base.html" %}

{% load bootstrap3 %}
{% load i18n %}
{% load staticfiles %}

{% block content %}

<h4>{{ event.name }}</h4>
<h1>{% block title %}{% if event.registering_coaches %}{% trans 'Coach registration' %}{% else %}{% trans 'Сontestant registration' %}{% endif %}{% endblock %}</h1>

{% if event.fill_forms_in_en %}<div class="alert alert-info" role="alert">{% trans 'Please fill the form in English.' %}</div>{% endif %}
<p>{% trans 'A letter will be sent to confirm your e-mail address.' %}</p>

<form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">{% trans 'Register' %}</button>
        <a href="{% url 'events:home' event.slug %}" class="btn btn-link">{% trans 'Cancel' %}</a>
    {% endbuttons %}
</form>

{% endblock %}
