{% extends "base.html" %}

{% load bootstrap3 %}
{% load i18n %}
{% load irunner_mass %}
{% load irunner_users %}

{% block title %}{% trans 'Users' %}{% endblock %}

{% block content %}
    {% if object_list %}
        <p>{{ question }}</p>

        <ul>
        {% for user in object_list %}
            <li><span class="ir-monospace">{{ user.username }}</span>&nbsp;&mdash; {% irunner_users_show user %}</li>
        {% endfor %}
        </ul>

        <form method="post" autocomplete="off">
            {% csrf_token %}
            {% irunner_mass_hidden ids next %}
            {% if form %}
                {% bootstrap_form form %}
            {% endif %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    {% trans 'Confirm' %}
                </button>
                {% if next %}
                    <a href="{{ next }}" class="btn btn-default">
                        {% trans 'Cancel' %}
                    </a>
                {% endif %}
            {% endbuttons %}
        </form>
    {% else %}
        {% trans 'No users selected' %}
    {% endif %}
{% endblock %}
