{% extends "base.html" %}

{% load bootstrap3 %}
{% load i18n %}
{% load irunner_folders %}

{% block content %}
    {% trans "Users" as root %}
    <div class="row">
        <div class="col-md-3">
            {% irunner_folders_tree cached_trees 'users:show_folder' folder_id root %}
        </div>
        <div class="col-md-9">
            {% irunner_folders_breadcrumbs cached_trees 'users:show_folder' folder_id root %}
            <h3>
                {% trans 'Create new folder' %}
                {% if cur_folder %}
                    <small>
                        &nbsp;{% blocktrans with nn=cur_folder.name %}inside ‘{{ nn }}’{% endblocktrans %}
                    </small>
                {% endif %}
            </h3>
            <form method="post" autocomplete="off">
			    {% csrf_token %}
			    {% bootstrap_form form %}
			    {% buttons %}
			        <button type="submit" class="btn btn-default">
			            {% trans 'Save' %}
			        </button>
			    {% endbuttons %}
			</form>
        </div>
    </div>
{% endblock %}
