{% extends "users/base.html" %}

{% load bootstrap3 %}
{% load i18n %}
{% load irunner_folders %}
{% load irunner_users %}

{% block sidebar %}
    {% irunner_folders_tree inmemory_tree 'users:show_folder' folder_id %}
{% endblock %}

{% block main %}
    {% irunner_folders_breadcrumbs inmemory_tree 'users:show_folder' folder_id %}

    {% bootstrap_messages %}

    <p>{% trans "Unable to obtain some photos from" %} <a href="http://intranet.bsu/">intranet.bsu</a>.</p>

    <ul>
    {% for user_error in errors %}
        <li>
            <p>{% irunner_users_card user_error.user %}: <code>{{ user_error.type }}</code></p>
            <pre>{{ user_error.message }}</pre>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
