{% extends 'users/profile_base.html' %}

{% load bootstrap3 %}
{% load i18n %}
{% load irunner_users %}

{% block title %}{{ edited_user.username }}{% endblock %}

{% block main %}

<dl class="dl-horizontal">
    <dt>
        {% irunner_users_photo edited_profile %}
    </dt>
    <dd>
        <h1>{% irunner_users_show edited_user %} <small>{{ edited_user.username }}</small></h1>
        {% if edited_profile.is_team %}
            <h4>
                <span title="{% trans 'Team' %}">{% bootstrap_icon 'user' %}{% bootstrap_icon 'user' %}{% bootstrap_icon 'user' %}</span>
                {{ edited_profile.members }}
            </h4>
        {% endif %}
        {% if edited_user.is_staff %}
            <div class="alert alert-danger" role="alert">{% trans 'The user belongs to staff and has extended access permissions.' %}</div>
        {% endif %}
    </dd>
</dl>

<dl class="dl-horizontal">
    {% if edited_profile.is_team %}
        <dt>{% trans 'Name' %}</dt>
        <dd>{{ edited_user.first_name }}</dd>

        <dt></dt>
        <dd>{{ edited_user.last_name }}</dd>
    {% else %}
        <dt>{% trans 'First name' %}</dt>
        <dd>{{ edited_user.first_name }}</dd>

        <dt>{% trans 'Patronymic' %}</dt>
        <dd>{{ edited_profile.patronymic }}</dd>

        <dt>{% trans 'Last name' %}</dt>
        <dd>{{ edited_user.last_name }}</dd>
    {% endif %}
</dl>

{% if edited_profile.description %}
    <dl class="dl-horizontal">
        <dt>{% trans 'Description' %}</dt>
        <dd>{{ edited_profile.description }}</dd>
    </dl>
{% endif %}

<dl class="dl-horizontal">
    <dt>ID</dt>
    <dd>{{ edited_user.id }}</dd>

    <dt>{% trans 'Username' %}</dt>
    <dd class="ir-monospace">{{ edited_user.username }}</dd>
</dl>

<dl class="dl-horizontal">
    <dt>{% trans 'Email address' %}</dt>
    <dd>{% if edited_user.email %}<a href="mailto:{{ edited_user.email }}">{{ edited_user.email }}</a>{% endif %}</dd>
</dl>

<dl class="dl-horizontal">
    <dt>{% trans 'Last login' %}</dt>
    <dd>{% if edited_user.last_login %}{{ edited_user.last_login }}{% else %}{% trans 'no data' %}{% endif %}</dd>

    <dt>{% trans 'Date joined' %}</dt>
    <dd>{% if edited_user.date_joined %}{{ edited_user.date_joined }}{% else %}{% trans 'no data' %}{% endif %}</dd>
</dl>

<dl class="dl-horizontal">
    <dt>{% trans 'Prompt to change password' %}</dt>
    <dd>{{ edited_profile.needs_change_password|yesno }}</dd>
</dl>

<dl class="dl-horizontal">
    <dt>{% trans 'Solutions' %}</dt>
    {% if num_solutions %}
        <dd><a href="{% url 'solutions:list' %}?user={{ edited_user.id }}">{{ num_solutions }} {% blocktrans count counter=num_solutions %}solution{% plural %}solutions{% endblocktrans %}</a></dd>
    {% else %}
        <dd>{% trans 'no' %}</dd>
    {% endif %}
</dl>

{% endblock %}
