{% extends "base.html" %}

{% load bootstrap3 %}
{% load i18n %}
{% load irunner_yesno %}

{% block content %}
    <h1>{% block title %}{% trans 'Registration' %}{% endblock %}</h1>

    <h2>{% if event.registering_coaches %}{% trans 'Coaches' %}{% else %}{% trans 'Contestants' %}{% endif %}</h2>
    {% if not event.registering_coaches %}
    <p><a href="{% url 'events:manage:contestant_registration_csv' event.slug %}">CSV</a></p>
    {% endif %}

    <table class="table">
        <thead>
            <th>{% trans '#' %}</th>
            {% if not event.registering_coaches %}<th>{% trans 'Confirmed' %}</th>{% endif %}
            <th>{% trans 'E-mail' %}</th>
            <th>{% trans 'Link' %}</th>
            <th>{% trans 'Name' context 'person' %}</th>
            <th>{% trans 'University' %}</th>
            {% if event.registering_coaches %}<th>{% trans 'Teams' %}</th>{% endif %}
        </thead>
        <tbody>
            {% for coach in coaches %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    {% if not event.registering_coaches %}<td>{% irunner_yesno coach.is_confirmed %}</td>{% endif %}
                    <td class="ir-monospace">{{ coach.email }}</td>
                    <td><a href="{% url 'events:list_teams' event.slug coach.human_readable_id %}">{{ coach.human_readable_id }}</a></td>
                    <td>{{ coach.full_name }}</td>
                    <td>{{ coach.university }}</td>
                    {% if event.registering_coaches %}<td>{{ coach.num_teams }}</td>{% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if event.registering_coaches %}
    <h2>{% trans 'Teams' %}</h2>
    <p><a href="{% url 'events:manage:team_registration_csv' event.slug %}">CSV</a></p>
    {% endif %}
{% endblock %}
