/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

.ir-footer {
    margin: 10px 0;
    text-align: center;
    color: #777;
}

/**
 * Course standings
 */
.ir-course-standings > thead:first-child > tr:first-child > th {
    border-top: 2px solid #ddd;
    padding-top: 4px;
    padding-bottom: 4px;
}
.ir-course-standings tbody > tr > td {
    border: 1px solid #ddd;
    font-size: 12px;
}
.ir-course-standings thead > tr > th {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    font-size: 12px;
    text-align: center;
}
.ir-course-standings .ir-row1 {
    font-size: 11px;
}
.ir-course-standings .ir-row2 {
    font-size: 9px;
}
.ir-course-standings .ir-score {
    min-width: 40px;
}
.ir-course-standings .ir-letter {
    width: 20px;
}
.ir-course-standings .ir-seq-no {
    text-align: right;
    padding-right: 4px;
    vertical-align: top;
}
/**
 * Common tuning
 */
.ir-monospace {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

textarea {
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1, h2, h3, h4, h5 {
    margin-top: 4px;
}
h1 { font-size: 32px; line-height: 32px; }
h2 { font-size: 24px; line-height: 32px; }
h3 { font-size: 20px; line-height: 32px; }

.ir-table-more-condensed > thead > tr > th,
.ir-table-more-condensed > tbody > tr > th,
.ir-table-more-condensed > tfoot > tr > th,
.ir-table-more-condensed > thead > tr > td,
.ir-table-more-condensed > tbody > tr > td,
.ir-table-more-condensed > tfoot > tr > td {
    padding: 1px;
    vertical-align: middle;
}

.ir-data {
    white-space: pre;
    word-wrap: normal;
    word-break: normal;
}

.ir-problem-statement {
    margin: 0.5em;
    font-family: Verdana, sans-serif;
    font-size: 14px;
    line-height: 140%;
}
.ir-problem-statement h1 {
    text-align: center;
    font-size: 150%;
    font-family: Arial, sans-serif;
    font-weight: normal;
    color: #225A8D;
}
.ir-problem-statement h2 {
    font-size: 115%;
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: #225A8D;
}
.ir-problem-statement sup, sub {
    vertical-align: 0;
    position: relative;
}
.ir-problem-statement sup {
    bottom: 1ex;
}
.ir-problem-statement sub {
    top: 0.6ex;
}
.ir-problem-statement .inputs-outputs {
    border-collapse: collapse;
    width: 99%;
}
.ir-problem-statement .inputs-outputs td {
    border: 1px solid #888;
    background-color: #efefef;
    padding: 4px;
    font-family: Consolas, "Courier New", monospace;
    font-size: 14px;
    vertical-align: top;
    min-width: 300px;
    width: 50%;
}
.ir-problem-statement .inputs-outputs th {
    border: 1px solid #888;
    padding: 4px;
    font-size: 14px;
    font-weight: bold;
    width: 50%;
}
.ir-problem-statement .infos {
    color: #aaa;
    text-align: center;
    font-size: 90%;
    margin-top: 8px;
    margin-bottom: 20px;
    line-height: 100%;
}


/**
 * Programming Language Box
 */
.ir-langbox {
    border-radius: 4px;
    color: #333;
    font-size: 11px;
    font-weight: bold;
    padding-bottom: 2px;
    padding-top: 2px;
    text-align: center;
    width: 50px;
    display: inline-block;
}
.ir-langbox-cpp, .ir-langbox-c {
    /*background-color: #DD7E6B;*/
    background-color: #FFCAB6;
}
.ir-langbox-java {
    /*background-color: #FFE599;*/
    background-color: #FFFFB3;
}
.ir-langbox-pas, .ir-langbox-dpr {
    /*background-color: #A4C2F4;*/
    background-color: #d2e0f9;
}
.ir-langbox-py {
    /*background-color: #B4A7D6;*/
    background-color: #d8cef3;
}
.ir-langbox-cs {
    /*background-color: #B6D7A8;*/
    background-color: #D0F1C2;
}


/**
 * Language Select
 */
.ir-lang-fake-form {
    display: inline;
}
.ir-lang-fake-form input[disabled] {
    cursor: pointer;
}


/**
 * Judgement Box
 */
.ir-judgementbox {
    background-color: #f5f5f5;
    color: #333;
    font-size: 9pt;
    font-weight: bold;
    padding-bottom: 2px;
    padding-top: 2px;
    text-align: center;
    width: 50px;
    display: inline-block;
}
.ir-judgementbox-header {
    background-color: #f5f5f5;
    color: #333;
    padding: 2px;
    text-align: center;
    min-width: 3em;
    display: inline-block;
    border-radius: 4px;
}

.ir-judgementbox-ok {
    color: #5cb85c;
    background-color: #dff0d8;
}
.ir-judgementbox-fail {
    color: #d9534f;
    background-color: #f2dede;
}


/**
 * Progress bars with centered text
 */

.ir-limit-progressbar {
    position: relative;
    margin: 0;
    width: 100px;
    display: inline-block;
}

.ir-limit-progressbar-filling {
    background-color: #d9edf7;
}

.ir-limit-progressbar span {
    position: absolute;
    display: block;
    width: 100%;
    color: #444;
}

/**
 * Table Column
 */
.ir-col-limit {
    width: 120px;
    text-align: center;
}

.ir-col-score {
    width: 80px;
    text-align: center;
}

.ir-col-outcome {
    width: 80px;
    text-align: center;
}

.ir-col-no {
    width: 50px;
    text-align: right;
}

.ir-col-msg {
    max-width: 0;
}

.ir-col-code {
    width: 100px;
    text-align: center;
}

.ir-checker-msg {
    white-space: pre;
    overflow: auto;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}



/**
 * Tabs
 */
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.ir-pill-content {
    padding-top: 10px;
}


/**
 * Complexity box
 */
.ir-complexitybox {
    display: inline-block;
    background: #d9edf7;
    border-color: #d9edf7;
    color: #337ab7;
    height: 1.4em;
    position: relative;
    vertical-align: middle;
    font-weight: 700;
    margin-right: 0.5em;
    width: 1.6em;
    text-align: center;
}
.ir-complexitybox:after {
    left: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    border-width: 0.7em 0 0.7em 5px;
    border-left-color: inherit;
}

/**
 * Right pills
 */
.ir-inline-block {
    display: inline-block;
}
.ir-condensed-pills > li > a {
    padding: 6px 8px;
}
.ir-pagination-no-margin {
    margin: 0;
}

/**
 * Mass reg
 */
.ir-mass-field {
}


/**
 * Feedback messages list
 */
.ir-float-right {
    float: right;
}
.ir-float-parent {
    overflow: hidden;
}


/**
 * Panels
 */
.ir-panel-heading {
    padding: 6px 15px;
}


/**
 * Log in/out form
 */
.ir-login-panel {
    max-width: 340px;
    margin: 0 auto;
}


/**
 * Sheet
 */
.ir-sheet table, .ir-sheet td, .ir-sheet th {
    border: 1px solid #ccc;
}
.ir-sheet td, .ir-sheet th {
    font-family: "Arial", sans-serif;
    font-size: 14px;
    padding: 0 4px;
    margin: 0;
}
.ir-sheet th {
    text-align: center;
    padding: 2px 6px;
}
.ir-score {
    text-align: right;
}
.ir-sheet td:focus {
    background-color: #D9EDF7;
}
.ir-sheet-editable-mark {
    text-align: right;
}
/**
 * Two-panel multi choose
 */
.ir-twopanel-tab {
    min-height: 320px;
}
.ir-twopanel-tab > option {
    color: #000;
}
.ir-twopanel-tab > option:disabled {
    color: #ccc;
}


/**
 *
 */
.ir-opt {
    color: #000;
}
.ir-opt-gray {
    color: #ccc;
}

.ir-icon-links {
    font-size: 1.1em;
}

.ir-assignment {
    margin-bottom: 6px;
}
.ir-assignment > div {
    padding: 6px 8px;
}
.ir-assignment > ul > li {
    padding: 6px 8px;
}
.ir-assignment .input-group-addon {
    padding: 4px 8px;
}
.ir-assignment .form-control {
    padding: 4px 8px;
}
.ir-assignment select.form-control {
    height: 28px;
}


/*
Yellow menu
*/
.ir-list-group-item-warning.active,
.ir-list-group-item-warning.active:hover,
.ir-list-group-item-warning.active:focus {
  text-shadow: 0 -1px 0 #c78f41;
  background-image: -webkit-linear-gradient(top, #f0ad4e 0%, #c78f41 100%);
  background-image:      -o-linear-gradient(top, #f0ad4e 0%, #c78f41 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f0ad4e), to(#c78f41));
  background-image:         linear-gradient(to bottom, #f0ad4e 0%, #c78f41 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff2b669a', GradientType=0);
  background-repeat: repeat-x;
  border-color: #c78f41;
}


.ir-huge {
    font-size: 40px;
}

.ir-no-margin {
    margin: 0;
}

.ir-pagination {
    margin-bottom: 10px;
    margin-top: 0;
}
.ir-pagination > li > span,
.ir-pagination > li > a {
    padding: 4px 8px;
}
.ir-pagination > li > span,
.ir-pagination > li > span:hover,
.ir-pagination > li > span:focus {
    color: #ddd;
    background-color: #fff;
}
.ir-pagination > li > a,
.ir-pagination > li > a:hover,
.ir-pagination > li > a:focus {
    color: #000;
}
.ir-pagination > li > span.ir-selected,
.ir-pagination > li > span.ir-selected:hover,
.ir-pagination > li > span.ir-selected:focus {
    color: black;
    font-weight: bold;
}
.ir-pagination > li > span.ir-info,
.ir-pagination > li > span.ir-info:hover,
.ir-pagination > li > span.ir-info:focus {
    color: #333;
}


.ir-pre {
    padding: 0;
    background-color: #fff;
    -moz-tab-size: 4;
    -o-tab-size:   4;
    tab-size:      4;
}

.ir-toggle-row {
    cursor: pointer;
}
.ir-arrow {
    color: #ddd;
}
.ir-file-size {
    color: #ccc;
    font-size: 0.8em;
}
.ir-ajax-message {
    padding: 40px;
    text-align: center;
    color: #aaa;
    font-style: italic;
}
.ir-hidden-data {
    padding-left: 40px;
}

.ir-solution-nav-pills > li > a {
    padding: 4px 15px;
}
.ir-solution-nav-pills {
    display: inline-block;
    /*margin-top: 4px;
    margin-bottom: 10px;*/
}

.ir-solution-panel {
    /*margin-bottom: 0;*/
}
.ir-solution-panel dl {
    /*margin-bottom: 0;*/
}

/**
 * old iRunner-like folder tree
 */
.ir-folder-tree {
    margin-top: 10px;
    margin-bottom: 10px;
}
.ir-folder-tree ul {
    list-style-type: none;
    margin: 2px;
    padding-left: 10px;
}
.ir-folder-tree li {
    font-size: 12px;
}
.ir-folder-tree .ir-bullet {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

/**
 * criterion
 */
.ir-box {
    display: inline-block;
    text-align: center;
}

.ir-criterion {
    font-weight: bold;
    min-width: 1.3em;
    border-radius: 2px;
}

.ir-criterion-yes {
    background-color: #5cb85c;
    color: white;
}

.ir-criterion-no {
    background-color: #cccccc;
    color: white;
}


/*
 * Solution filter
 */
.ir-solution-filter > select {
    min-width: 300px;
    max-width: 300px;
    padding: 4px 12px;
    height: auto;
}
.ir-solution-filter > button {
    padding: 2px 12px;
    height: auto;
}
.ir-solution-filter {
    background-color: #efefef;
    text-align: right;
    margin-bottom: 5px;
    border-radius: 4px;
    padding: 7px;
}

/**
 * User interface language
 */
.navbar-nav > li > form > input[type="submit"] {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .navbar-nav > li > form > input[type="submit"] {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
