{% extends "base.html" %}

{% block content %}
<h1>Jobs</h1>

<table class="table table-condensed table-striped table-hover">
	<thead>
		<tr>
			<th>ID</th>
			<th>x value</th>
			<th>state</th>
			<th>progress</th>
		</tr>
	</thead>
	<tbody>
		{% for job in object_list %}
		<tr>
			<td>{{ job.id }}</td>
			<td>{{ job.x }}</td>
			<td>{{ job.status }}</td>
			<td>Stage {{ job.stage }} ({{ job.on_stage_progress }} of {{ job.on_stage_max }})</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}
