{% extends "problems/base.html" %}

{% load bootstrap3 %}
{% load i18n %}
{% load irunner_storage %}

{# test_number is not set when the test is new #}

{% block main %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <h2>
            {% if test_number %}
                {% trans 'Edit the test case' %} {% trans '#' %}{{ test_number }}
            {% else %}
                {% trans 'New test case' %}
            {% endif %}
        </h2>

        {% bootstrap_form_errors description_form %}

        <div class="row">
            <div class="col-md-6">
                {% bootstrap_field description_form.description %}
            </div>
            <div class="col-md-6">
                <table class="ir-test-limits">
                    <tbody>
                        <tr>
                            <td>{% trans 'Score' %}</td>
                            <td>{% bootstrap_field description_form.points show_label=False %}</td>
                        </tr>
                        <tr>
                            <td>{% trans 'Time limit' %}&nbsp;({% trans 's' %})</td>
                            <td>{% bootstrap_field description_form.time_limit show_label=False %}</td>
                        </tr>
                        <tr>
                            <td>{% trans 'Memory limit' %}&nbsp;({% trans 'MB' %})</td>
                            <td>{% bootstrap_field description_form.memory_limit show_label=False %}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <h4>{% trans 'Input file' %}</h4>
                {% bootstrap_form input_form show_label=False %}
                {% if input_form.representation %}
                    {% irunner_storage_showbrief input_form.representation %}
                {% endif %}
            </div>
            <div class="col-md-6">
                <h4>{% trans 'Answer file' %}</h4>
                {% bootstrap_form answer_form show_label=False %}
                {% if answer_form.representation %}
                    {% irunner_storage_showbrief answer_form.representation %}
                {% endif %}
            </div>
        </div>

        {% buttons %}
            <button type="submit" class="btn btn-primary">
                {% trans 'Save' %}
            </button>
            {% if test_number %}
                <a href="{% url 'problems:show_test' problem.id test_number %}{{ navigator.query_string }}" role="button" class="btn btn-default">
            {% else %}
                <a href="{% url 'problems:tests' problem.id %}{{ navigator.query_string }}" role="button" class="btn btn-default">
            {% endif %}
                {% trans 'Cancel' %}
            </a>
        {% endbuttons %}
    </form>
{% endblock %}
