{% load bootstrap3 %}
{% load i18n %}
{% load staticfiles %}

<div class="ir-tex-editor">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist" title="{% trans 'Use F2 key to switch view' %}">
        <li role="presentation" class="active"><a href="#ir_tab_source" role="tab" data-toggle="tab">{% trans 'Source code' %}</a></li>
        <li role="presentation"><a href="#ir_tab_result" role="tab" data-toggle="tab">{% trans 'Result' %}</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="ir_tab_source">
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group btn-group-sm" role="group">
                    <button type="button" class="btn btn-default ir-js-inputfile"><span class="ir-monospace">\InputFile</span></button>
                    <button type="button" class="btn btn-default ir-js-outputfile"><span class="ir-monospace">\OutputFile</span></button>
                    <button type="button" class="btn btn-default ir-js-note"><span class="ir-monospace">\Note</span></button>
                </div>
                <div class="btn-group btn-group-sm" role="group">
                    <button type="button" class="btn btn-default ir-js-1ex">{% trans 'one example' %}</button>
                    <button type="button" class="btn btn-default ir-js-2ex">{% trans 'two examples' %}</button>
                    <button type="button" class="btn btn-default ir-js-3ex">{% trans 'three examples' %}</button>
                </div>
            </div>
            {% bootstrap_form form show_label=False show_help=False %}
        </div>

        <div role="tabpanel" class="tab-pane fade" id="ir_tab_result">
            <pre class="ir-pre ir-tex-pre"><code class="hljs ir-tex-log"></code></pre>
            <div class="ir-problem-statement">
                <div class="ir-tex-output"></div>
            </div>
        </div>
    </div>
</div>



<script>
    $(document).ready(function() {
        var editorBlock = $(".ir-tex-editor").first();
        var textarea = editorBlock.find("textarea").get(0);

        var toolbarControls = [
            [".ir-js-inputfile", "\\InputFile"],
            [".ir-js-outputfile", "\\OutputFile"],
            [".ir-js-note", "\\Note"],
            [".ir-js-1ex", "\\Example\n\n\\begin{example}%\n\\exmp{% input\n\n}{% output\n\n}%\n\\end{example}\n"],
            [".ir-js-2ex", "\\Examples\n\n\\begin{example}%\n\\exmp{% first input\n\n}{% first output\n\n}%\n\\exmp{% second input\n\n}{% second output\n\n}%\n\\end{example}\n"],
            [".ir-js-3ex", "\\Examples\n\n\\begin{example}%\n\\exmp{% first input\n\n}{% first output\n\n}%\n\\exmp{% second input\n\n}{% second output\n\n}%\n\\exmp{% third input\n\n}{% third output\n\n}%\n\\end{example}\n"],
        ];
        for (var i = 0; i < toolbarControls.length; ++i) {
            editorBlock.find(toolbarControls[i][0]).click(
                (function(portion) {
                    return function() {
                        irInsertAtCursor(textarea, portion);
                    };
                })(toolbarControls[i][1])
            );
        }

        editorBlock.find("a[data-toggle='tab']").on("show.bs.tab", function (e) {
            //e.target // newly activated tab
            //e.relatedTarget // previous active tab
            var target = $(e.target).attr("href");
            if (target === "#ir_tab_result") {
                editorBlock.find(".ir-tex-log").text("{% trans 'Loading...' %}");
                editorBlock.find(".ir-tex-output").html("");
                var params = {
                    "csrfmiddlewaretoken": "{{ csrf_token }}",
                    "source": $(textarea).val()
                };
                $.post("{{ render_url }}", params).done(function(data) {
                    if (data["log"] !== undefined) {
                        editorBlock.find(".ir-tex-log").text(data["log"]);
                    }
                    if (data["output"] !== undefined) {
                        editorBlock.find(".ir-tex-output").html(data["output"]);
                    }
                }).fail(function(data) {
                    editorBlock.find(".ir-tex-log").text("{% trans 'Error while getting data from server.' %}");
                });
            }
        });

        $(document).keydown(function(e) {
            e = e || window.event;
            if (e.keyCode == 113 && !e.ctrlKey && !e.shiftKey && !e.altKey && !e.metaKey) {
                editorBlock.find(".nav-tabs > li").not(".active").find("a").trigger("click");
            }
        });
    });
</script>
