{% extends "problems/list_base.html" %}

{% load bootstrap3 %}
{% load i18n %}
{% load irunner_folders %}
{% load irunner_cauth %}

{% block sidebar %}
    {% trans "Problems" as root_name %}
    {% irunner_folders_tree cached_trees 'problems:show_folder' folder_id root_name %}
{% endblock %}

{% block main %}
    {% trans "Problems" as root_name %}
    {% irunner_folders_breadcrumbs cached_trees 'problems:show_folder' folder_id root_name %}

    {% irunner_cauth_share_group share_form acl can_edit=True %}
{% endblock %}
