{% extends 'problems/base.html' %}

{% load i18n %}
{% load irunner_problems %}
{% load bootstrap3 %}

{% block main %}

<div class="panel panel-default">
    <div class="panel-heading">
        {% trans 'Main properties' %}
        <div class="pull-right"><a href="{% url 'problems:edit' problem.id %}" class="btn btn-default btn-xs">{% trans 'Edit' %}</a></div>
    </div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            {% if problem.get_formatted_number %}
                <dt>{% trans 'Number' %}</dt>
                <dd>{{ problem.get_formatted_number }}</dd>
            {% endif %}

            {% if problem.short_name and problem.full_name != problem.short_name %}
                <dt>{% trans 'Full name' %}</dt>
                <dd>{{ problem.full_name }}</dd>

                <dt>{% trans 'Short name' %}</dt>
                <dd>{{ problem.short_name }}</dd>
            {% else %}
                <dt>{% trans 'Name' %}</dt>
                <dd>{{ problem.full_name }}</dd>
            {% endif %}

            {% if problem.complexity != None %}
                <dt>{% trans 'Complexity level' %}</dt>
                <dd>{% irunner_problems_complexity problem.complexity %}</dd>
            {% endif %}
        </dl>
        <dl class="dl-horizontal">
            <dt>{% trans 'Input file name' %}</dt>
            <dd><tt>{{ problem.input_filename }}</tt></dd>

            <dt>{% trans 'Output file name' %}</dt>
            <dd><tt>{{ problem.output_filename }}</tt></dd>
        </dl>

        <dl class="dl-horizontal">
            {% if problem.description %}
                <dt>{% trans 'Description' %}</dt>
                <dd>{{ problem.description }}</dd>
            {% endif %}
            {% if problem.hint %}
                <dt>{% trans 'Hint' %}</dt>
                <dd>{{ problem.hint }}</dd>
            {% endif %}
        </dl>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <div class="ir-huge">
                            {% bootstrap_icon 'list-alt' %}
                        </div>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="ir-huge">{{ test_count }}</div>
                        <div>тестов</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <div class="ir-huge">
                            {% bootstrap_icon 'tasks' %}
                        </div>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="ir-huge">{{ solution_count }}</div>
                        <div>решений</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <div class="ir-huge">
                            {% bootstrap_icon 'paperclip' %}
                        </div>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="ir-huge">{{ file_count }}</div>
                        <div>файлов</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
