{% extends "problems/base.html" %}

{% load bootstrap3 %}
{% load i18n %}
{% load irunner_storage %}

{% block main %}

<nav>
    <ul class="pagination ir-pagination-no-margin">
        <li>
            <a href="{% url 'problems:show_test' problem_id prev_test %}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li><a href="{% url 'problems:overview' problem_id %}">{% trans 'Test' %} {{ current_test }} {% trans 'of' %} {{ total_tests }}</a></li>
        <li>
            <a href="{% url 'problems:show_test' problem_id next_test %}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
    <ul class="pagination ir-pagination-no-margin">
        <li>
            <a href="{% url 'problems:edit_test' problem_id current_test %}">
                {% bootstrap_icon 'pencil' %} <span class="ir-icon-label">{% trans 'Edit' %}</span>
            </a>
        </li>
        <li class="disabled">
            <a href="#">
                {% bootstrap_icon 'trash' %} <span class="ir-icon-label">{% trans 'Delete' %}</span>
            </a>
        </li>
    </ul>
</nav>

{% if description %}
    <h3>{% trans 'Description' %}</h3>
    <div>
        {{ description }}
    </div>
{% endif %}

<div class="row">
    <div class="col-md-6">
        <h4>{% trans 'Input file' %}</h4>
        {% irunner_storage_show input_repr %}
    </div>
    <div class="col-md-6">
        <h4>{% trans 'Answer file' %}</h4>
        {% irunner_storage_show answer_repr %}
    </div>
</div>

{% endblock %}
