{% load bootstrap3 %}
{% load i18n %}

<div class="list-group">
    <a href="{% url 'problems:overview' problem.id %}" class="list-group-item list-group-item-warning ir-list-group-item-warning{% if active_tab == 'overview' %} active{% endif %}">
        {% bootstrap_icon 'info-sign' %}
        <span class="ir-icon-label">{% trans 'Problem' %} {{ problem.numbered_full_name }}</span>
    </a>
    <a href="{% url 'problems:statement' problem.id %}" class="list-group-item ir-list-group-item-warning{% if active_tab == 'statement' %} active{% endif %}">
        {% bootstrap_icon 'file' %} 
        <span class="ir-icon-label">{% trans 'Statement' %}</span>
    </a>
    <a href="{% url 'problems:tests' problem.id %}" class="list-group-item ir-list-group-item-warning{% if active_tab == 'tests' %} active{% endif %}">
        {% bootstrap_icon 'list-alt' %} 
        <span class="ir-icon-label">{% trans 'Tests' %}</span>
    </a>
    <a href="{% url 'problems:solutions' problem.id %}" class="list-group-item ir-list-group-item-warning{% if active_tab == 'solutions' %} active{% endif %}">
        {% bootstrap_icon 'tasks' %} 
        <span class="ir-icon-label">{% trans 'Solutions' %}</span>
    </a>
    <a href="{% url 'problems:files' problem.id %}" class="list-group-item ir-list-group-item-warning{% if active_tab == 'files' %} active{% endif %}">
        {% bootstrap_icon 'paperclip' %} 
        <span class="ir-icon-label">{% trans 'Files' %}</span>
    </a>
    <a href="{% url 'problems:submit' problem.id %}" class="list-group-item ir-list-group-item-warning{% if active_tab == 'submit' %} active{% endif %}">
        {% bootstrap_icon 'send' %} 
        <span class="ir-icon-label">{% trans 'Submit solution' %}</span>
    </a>
</div>
