{% extends 'problems/base.html' %}

{% load i18n %}
{% load proglang_extras %}
{% load solution_extras %}
{% load irunnerpagination %} 
{% load irunner_users %}

{% block main %}

{% irunnerpagination pagination_context %}
<table class="table table-condensed table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>{% trans 'Author' %}</th>
            <th>{% trans 'Submission time' %}</th>
            <th>{% trans 'File' %}</th>
            <th>{% trans 'Status' %}</th>
        </tr>
    </thead>
    <tbody>
        {% for solution in object_list %}
        <tr>
            <td>{{ solution.id }}</td>
            <td>{% irunner_users_show solution.author %}</td>
            <td>{{ solution.reception_time }}</td>
            <td>
                {% langbox solution.compiler %}
                <small><tt><a href="{% url 'solutions:source' solution.id %}">{{ solution.source_code.filename }}</a></tt></small>
            </td>
            <td>
                {% irunner_solutions_judgementbox solution.best_judgement %}
                {% if solution.best_judgement %} <small><a href="{% url 'solutions:main' solution.id %}">{{ solution.best_judgement.show_status }}</a></small>{% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
