{% extends 'problems/base.html' %}

{% load bootstrap3 %}
{% load irunner_problems %}
{% load i18n %}

{% block main %}
<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <th>{% trans '#' %}</th>
            <th>{% trans 'Input' %}</th>
            <th>{% trans 'Output' %}</th>
            <th>{% trans 'Score' %}</th>
            <th>{% trans 'Time limit' %}</th>
            <th>{% trans 'Memory limit' %}</th>
        </tr>
    </thead>
    <tbody>
    {% for tc in test_cases %}
        <tr data-url="{% url 'problems:show_test' problem.id tc.ordinal_number %}{{ navigator.query_string }}" class="ir-clickable-row">
            <td>{{ tc.ordinal_number }}</td>
            <td>
                <a href="{% url 'problems:test_input_open' problem.id tc.ordinal_number %}" title="{% trans 'Open' %}">{% bootstrap_icon 'open-file' %}</a>
                <a href="{% url 'problems:test_input_download' problem.id tc.ordinal_number %}" title="{% trans 'Download' %}">{% bootstrap_icon 'download-alt' %}</a>
                <span class="ir-file-size">[{{ tc.input_size|filesizeformat }}]</span>
            </td>
            <td>
                <a href="{% url 'problems:test_answer_open' problem.id tc.ordinal_number %}" title="{% trans 'Open' %}">{% bootstrap_icon 'open-file' %}</a>
                <a href="{% url 'problems:test_answer_download' problem.id tc.ordinal_number %}" title="{% trans 'Download' %}">{% bootstrap_icon 'download-alt' %}</a>
                <span class="ir-file-size">[{{ tc.answer_size|filesizeformat }}]</span>
            </td>
            <td>{{ tc.points }}</td>
            <td>{% irunner_problems_timelimit tc.time_limit %}</td>
            <td>{% irunner_problems_memorylimit tc.memory_limit %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<script>
    jQuery(document).ready(function($) {
        $(".ir-clickable-row").click(function() {
            window.document.location = $(this).data("url");
        });
    });
</script>
{% endblock %}
