{% load i18n %}

<ol class="breadcrumb">
    {% if has_category %}
        <li><a href="{% url 'quizzes:categories:list' %}">{% trans 'Categories' %}</a></li>
        {% if group %}
            <li><a href="{% url 'quizzes:categories:groups:list' category_slug %}">{% if category %}{{ category }}{% else %}<i>{% trans 'No category' %}</i>{% endif %}</a></li>
            {% if question %}
                <li><a href="{% url 'quizzes:categories:groups:browse' category_slug group.id %}">{{ group }}</a></li>
                <li class="active">{% trans 'Question' %}</li>
            {% else %}
                <li class="active">{{ group }}</li>
            {% endif %}
        {% else %}
            <li class="active">{% if category %}{{ category }}{% else %}<i>{% trans 'No category' %}</i>{% endif %}</li>
        {% endif %}
    {% else %}
        <li class="active">{% trans 'Categories' %}</li>
    {% endif %}
</ol>
