{% extends 'quizzes/base.html' %}

{% load bootstrap3 %}
{% load i18n %}
{% load irunner_quizzes %}

{% block main %}
    {% irunner_quizzes_breadcrumbs section='new_group' %}

    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">{% trans 'Create' %}</button>
            <a href="{% url 'quizzes:categories:groups:list' category_slug %}" class="btn btn-link">{% trans 'Cancel' %}</a>
        {% endbuttons %}
    </form>
{% endblock %}
