{% extends 'quizzes/base.html' %}

{% load i18n %}
{% load irunner_pylightex %}
{% load irunner_pagination %}
{% load irunner_quizzes %}
{% load bootstrap3 %}

{% block head %}
    {% irunner_pylightex_head %}
{% endblock %}

{% block main %}
    {% irunner_quizzes_breadcrumbs %}

    {% if permissions.can_edit_questions %}
    <div class="form-group">
        <a class="btn btn-default ir-inline-block" href="{% url 'quizzes:categories:groups:create_question' category_slug group.id %}">
            {% bootstrap_icon 'plus' %}
            <span class="ir-icon-label">{% trans 'New question' %}</span>
        </a>
        <a class="btn btn-default ir-inline-block" href="{% url 'quizzes:categories:groups:upload' category_slug group.id %}">
            {% bootstrap_icon 'open' %}
            <span class="ir-icon-label">{% trans 'Upload from file' %}</span>
        </a>
    </div>
    {% endif %}

    {% irunner_pagination pagination_context %}

    {% for question in object_list %}
        {% irunner_quizzes_showquestion question category_slug can_edit=permissions.can_edit_questions %}
    {% endfor %}

    {% irunner_pylightex_body %}
{% endblock %}
