{% extends 'quizzes/base.html' %}

{% load irunner_katex %}
{% load irunner_quizzes %}
{% load bootstrap3 %}
{% load i18n %}

{% block head %}
    {% load static %}
    {% irunner_katex_head %}
    <script src="{% static 'angular-1.2.0-rc.3/angular.min.js' %}"></script>
{% endblock %}

{% block main %}
    {% irunner_quizzes_breadcrumbs question=True %}

    <input id="questionData" type="hidden" value="{{ object }}" />
    <input id="languageTags" type="hidden" value="{{ languageTags }}"/>

    {% if has_error %}
        <div class="modal fade" id="errModal" tabindex="-1" role="dialog" aria-labelledby="warnModalLabel" aria-hidden="true" data-show="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="warnModalLabel">{% trans 'Error' %}</h4>
                    </div>
                    <div class="modal-body">
                        <p class="text-danger">{% trans 'Error' %}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" data-dismiss="modal">{% trans 'OK' %}</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% verbatim %}
        <div class="row" ng-app="editor" ng-cloak>
            <div class="col-sm-7 form-group">
                <label for="questionText">{{languageTags.questionText}}:</label>
                <textarea class="form-control" rows="5" id="questionText" ng-model="question.text"></textarea>
            </div>
            <div class="col-sm-5 form-group">
                <label for="questionType">{{languageTags.questionType}}:</label>
                <select class="form-control" id="questionType" ng-model="question.type">
                    <option value="single">{{languageTags.singleAnswer}}</option>
                    <option value="multiple">{{languageTags.multipleAnswers}}</option>
                    <option value="text">{{languageTags.textAnswer}}</option>
                    <option value="open">{{languageTags.openAnswer}}</option>
                </select>
            </div>
            <div class="col-xs-12">
                <div class="row ir-question-choice" ng-repeat="c in question.choices">
                    <div class="col-xs-11">
                        <div class="row" class="col-xs-12">
                            <div class="col-sm-2" ng-hide="question.type === 'text'" ng-switch="question.type">
                                <div class="radio" ng-switch-when="single">
                                    <label for="{{getInputId(c.id)}}">
                                        <input type="radio" id="{{getInputId(c.id)}}" name="isChoiceRight" ng-click="setRadioChoice(c)" ng-checked="c.is_right"/>
                                        <span>{{languageTags.isRight}}</span>
                                    </label>
                                </div>
                                <div class="radio" ng-switch-when="multiple">
                                    <label for="{{getInputId(c.id)}}" class="ir-label-without-padding">
                                        <input type="checkbox" id="{{getInputId(c.id)}}" name="isChoiceRight" ng-model="c.is_right"/>
                                        <span>{{languageTags.isRight}}</span>
                                    </label>
                                </div>
                            </div>
                            <div ng-class="{'col-sm-10': question.type != 'text', 'col-xs-12': question.type === 'text'}">
                                <input class="form-control" type="text" id="{{getInputId(c.id)}}" ng-model="c.text"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-1">
                        <button type="button"
                                class="btn btn-default ir-btn-without-border"
                                ng-click="removeChoice($index)"
                                ng-disabled="!canRemoveChoice($index)">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-default ir-inline-block" type="button" ng-click="addChoice()" ng-disabled="question.type === 'text' || question.type === 'open'">
                        <span class="glyphicon glyphicon-plus"></span>
                        <span class="ir-icon-label">{{languageTags.addChoice}}</span>
                    </button>
                    <button class="btn btn-default ir-inline-block" type="button" ng-click="updatePreview()">
                        <span class="glyphicon glyphicon-repeat"></span>
                        <span class="ir-icon-label">{{languageTags.refreshPreview}}</span>
                    </button>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12 ir-res-problem" ng-bind-html="preview.text"></div>
                        </div>
                        <div ng-repeat="c in preview.choices"
                             ng-bind-html="c.text"
                             ng-class="{'col-xs-12': true, 'ir-res-answer': true, 'bg-success': c.is_right, 'ir-res-answer-correct': c.is_right}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endverbatim %}


    <form method="post">
        {% csrf_token %}
        <input type="hidden" id="resultQuestionData" name="question"/>
        {% buttons %}
            <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
            <a class="btn btn-link" href="{{request.META.HTTP_REFERER|escape}}">{% trans 'Cancel' %}</a>
        {% endbuttons %}
    </form>

    <script src="{% static 'angular-1.2.0-rc.3/angular-sanitize.js' %}"></script>
    {% if has_error %}
        <script>
        $(window).on('load',function(){
            $('#errModal').modal('show');
        });
        </script>
    {% endif %}
    <script>
var app = angular.module('editor', ["ngSanitize"]);
app.run(function ($rootScope, $http, $window, $interval) {
    var types = ['single', 'multiple', 'text', 'open'];
    $rootScope.question = angular.fromJson(document.getElementById('questionData').value);
    $rootScope.preview = {};
    $rootScope.languageTags = angular.fromJson(document.getElementById('languageTags').value);
    $rootScope.nextId = 1;
    angular.forEach($rootScope.question.choices, function (c) {
        c.id = $rootScope.nextId++;
    });

    $rootScope.getInputId = function (id) {
        return 'c' + id;
    };
    $rootScope.setRadioChoice = function (c) {
        angular.forEach($rootScope.question.choices, function (c) {
            c.is_right = false;
        });
        c.is_right = true;
    };
    $rootScope.removeChoice = function (idx) {
        $rootScope.question.choices.splice(idx, 1);
    };
    $rootScope.addChoice = function () {
        $rootScope.question.choices.push({
            id: $rootScope.nextId++,
            text: $rootScope.languageTags.defaultChoiceText,
            is_right: false
        });
    };
    $rootScope.canRemoveChoice = function (idx) {
        if ($rootScope.question.type === types[0]) {
            return !$rootScope.question.choices[idx].is_right;
        }
        if ($rootScope.question.type === types[1]) {
            var right = 0;
            angular.forEach($rootScope.question.choices, function (c) {
                right += c.is_right ? 1 : 0;
            });
            return !$rootScope.question.choices[idx].is_right || right > 1;
        }
        if ($rootScope.question.type === types[2]) {
            return false;
        }
        return true;
    };

    $rootScope.updatePreview = function () {
        var question = angular.copy($rootScope.question);
        var shouldTexifyChoices = !(question.type === types[2] || question.type === types[3]);

        var texBlocks = [{
            tex: question.text,
            inline: false
        }];
        if (shouldTexifyChoices) {
            angular.forEach(question.choices, function (c) {
                texBlocks.push({
                    tex: c.text,
                    inline: true
                })
            });
        }

        $http.post("{% url 'quizzes:preview:render' %}", texBlocks, {
            headers: {
                "X-CSRFToken": "{{ csrf_token }}"
            },
        }).then(function(response) {
            var results = response.data;
            question.text = results[0]["html"];
            if (shouldTexifyChoices) {
                var index = 0;
                angular.forEach(question.choices, function (c) {
                    c.text = results[++index]["html"];
                });
            }
            $rootScope.preview = question;

            setTimeout(function () {
                $(".ir-katex-displayed:not(.processed)").katex({ displayMode: true });
                $(".ir-katex-inline:not(.processed)").katex({ displayMode: false });
                $(".ir-katex-displayed:not(.processed)").addClass("processed");
                $(".ir-katex-inline:not(.processed)").addClass("processed");
            }, 0);
        });
    };
    $rootScope.updatePreview();

    $rootScope.$watch('question', function () {
        document.getElementById("resultQuestionData").value = JSON.stringify($rootScope.question);
    }, true);
    $rootScope.$watch('question.type', function (newValue, oldValue) {
        $rootScope.question.type = newValue;
        if ((oldValue === types[0] || oldValue === types[1]) && newValue === types[2]) {
            var rightIdx = $rootScope.question.choices.findIndex(function (c) {return c.is_right;});
            if (rightIdx < 0) {
                $rootScope.question.choices = [{
                    id: $rootScope.nextId++,
                    text: $rootScope.languageTags.defaultChoiceText,
                    is_right: true
                }];
            } else {
                $rootScope.question.choices = [$rootScope.question.choices[rightIdx]];
            }
        }
        if (oldValue === types[1] && newValue === types[0]) {
            var rightIdx = $rootScope.question.choices.findIndex(function (c) {return c.is_right;});
            if (rightIdx >= 0) {
                angular.forEach($rootScope.question.choices, function (c, $index) {
                    c.is_right = $index === rightIdx;
                });
            }
        }
        if (oldValue !== types[3] && newValue === types[3]) {
            $rootScope.question.choices = [];
        }
        if (oldValue === types[3] && newValue !== types[3]) {
            $rootScope.question.choices = [{
                id: $rootScope.nextId++,
                text: $rootScope.languageTags.defaultChoiceText,
                is_right: true
            }];
        }
    });
});
    </script>
{% endblock %}