{% extends 'quizzes/base.html' %}

{% load i18n %}
{% load irunner_katex %}
{% load irunner_pagination %}
{% load irunner_quizzes %}
{% load bootstrap3 %}

{% block head %}
    {% irunner_katex_head %}
{% endblock %}

{% block main %}
    <h3>{{ object.name }}</h3>

    <div class="form-group">
        <a class="btn btn-default ir-inline-block" href="{% url 'quizzes:groups:create_question' object.id %}">
            {% bootstrap_icon 'plus' %}
            <span class="ir-icon-label">{% trans 'New question' %}</span>
        </a>
        <a class="btn btn-default ir-inline-block" href="{% url 'quizzes:groups:upload' object.id %}">
            {% bootstrap_icon 'open' %}
            <span class="ir-icon-label">{% trans 'Upload from file' %}</span>
        </a>
    </div>

    {% irunner_pagination pagination_context %}

    {% for question in object_list %}
        {% irunner_quizzes_showquestion question %}
    {% endfor %}

    {% irunner_katex_body %}
{% endblock %}
