{% extends 'quizzes/base.html' %}

{% load bootstrap3 %}
{% load i18n %}

{% block main %}
    <h3>{{ object.name }}</h3>

    <dl class="dl-horizontal">
        <dt>{% trans 'Shuffle questions' %}</dt>
        <dd>{{ object.shuffle_questions|yesno }}</dd>

        <dt>{% trans 'Attempts' %}</dt>
        <dd>{% if object.attempts == None %}{% trans 'Unlimited' %}{% else %}{{ object.attempts }}{% endif %}</dd>

        <dt>{% trans 'Time limit' %}</dt>
        <dd>{{ object.time_limit }}</dd>
    </dl>

    {% if relations %}
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>{% trans '#' %}</th>
                    <th>{% trans 'Question group' %}</th>
                    <th>{% trans 'Points' %}</th>
                    <th>{% trans 'Actions' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for relation in relations %}
                    <tr>
                        <td>{{ relation.order }}</td>
                        <td>{{ relation.group.name }}</td>
                        <td>{{ relation.points }}</td>
                        <td><a href="{% url 'quizzes:templates:delete_group' object.id relation.id %}">{% trans 'Delete' %}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <div class="form-group">
        <a href="{% url 'quizzes:templates:update' object.id %}" class="btn btn-default">{% bootstrap_icon 'pencil' %} <span class="ir-icon-label">{% trans 'Edit' %}</span></a>
        <a href="{% url 'quizzes:templates:add_group' object.id %}" class="btn btn-default">{% bootstrap_icon 'plus' %} <span class="ir-icon-label">{% trans 'Add question group' %}</span></a>
        <a href="{% url 'quizzes:templates:edit_groups' object.id %}" class="btn btn-default">{% bootstrap_icon 'align-justify' %} <span class="ir-icon-label">{% trans 'Edit groups' %}</span></a>
    </div>
{% endblock %}
