{% extends 'courses/settings/base.html' %}

{% load i18n %}
{% load irunner_courses %}
{% load irunner_problems %}
{% load bootstrap3 %}

{% block submain %}
    <h3>{% trans 'Topics' %}</h3>
    {% if course_descr.topic_descrs %}
        <ul>
        {% for topic_descr in course_descr.topic_descrs %}{% with topic=topic_descr.topic %}
            <li>
                <a href="{% url 'courses:settings:topics_update' course.id topic.id %}">{{ topic.name }}</a>
                <dl class="dl-horizontal">
                    <dt>{% trans 'Folder' %}</dt>
                    <dd>
                        {% if topic.problem_folder %}
                            &laquo;{{ topic.problem_folder }}&raquo;
                            ({% blocktrans count counter=topic.problem_folder.problem_set.count %}{{ counter }} problem{% plural %}{{ counter }} problems{% endblocktrans %})
                        {% else %}
                            &mdash;
                        {% endif %}
                    </dd>

                    <dt>{% trans 'To assign' %}</dt>
                    <dd>{% blocktrans count counter=topic.slot_set.count %}{{ counter }} problem{% plural %}{{ counter }} problems{% endblocktrans %}</dd>

                    <dt>{% trans 'Criteria' %}</dt>
                    <dd>
                        {% for criterion in topic_descr.criteria %}
                            {% irunner_courses_criterion criterion True tooltip=True %}
                        {% endfor %}
                    </dd>

                    <dt>{% trans 'Common problems' %}</dt>
                    <dd>
                        <ul class="list-unstyled">
                            {% for problem in topic_descr.common_problems %}
                            <li>
                                {% irunner_problems_difficulty problem.difficulty %}
                                <a href="{% url 'courses:course_problems_problem' course.id problem.id %}">{{ problem.numbered_full_name }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                        <a href="{% url 'courses:settings:topic_common_problems' course.id topic.id %}" class="btn btn-xs btn-default">{% bootstrap_icon 'pencil' %} <span class="ir-icon-label">{% trans 'Edit' %}</span></a>
                    </dd>

                    {% if topic.deadline %}
                        <dt>{% trans 'Deadline' %}</dt>
                        <dd>{{ topic.deadline }}</dd>
                    {% endif %}
                </dl>
            </li>
        {% endwith %}{% endfor %}
        </ul>
    {% else %}
        {% trans 'No topics' %}
    {% endif %}
    <p>
        <a href="{% url 'courses:settings:topics_create' course.id %}">{% trans 'New topic' %}</a>
    </p>

    <h3>{% trans 'Common problems' %}</h3>
    <p class="help-block">
        {% trans 'These problems are not assigned individually. Every student can solve them.' %}
    </p>

    <ul>
        {% for problem in course_descr.common_problems %}
            <li>
                {% irunner_problems_difficulty problem.difficulty %}
                <a href="{% url 'courses:course_problems_problem' course.id problem.id %}">{{ problem.numbered_full_name }}</a>
            </li>
        {% endfor %}
    </ul>

    <p><a href="{% url 'courses:settings:common_problems' course.id %}">{% trans 'Edit the list' %}</a></p>
{% endblock %}
