{% extends "base.html" %}

{% load bootstrap3 %}
{% load i18n %}
{% load staticfiles %}
{% load irunner_events %}

{% block content %}
    {% irunner_events_logo object %}

    <h1>{% block title %}{{ object.name }}{% endblock %}</h1>
    {{ object.description|urlize|linebreaks }}

    {% if object.is_registration_available %}
        <a href="{% url 'events:register_coach' object.slug %}" class="btn btn-primary btn-lg">
            {% if object.registering_coaches %}{% trans 'Register as Coach' %}{% else %}{% trans 'Register as Сontestant' %}{% endif %}
        </a>
    {% endif %}

    {% if materials %}
    <h2>{% trans 'Materials' %}</h2>
    <ul class="list-unstyled">
    {% for page in event.page_set.all %}
        <li>
            <strong>{{ page.when|date:"DATE_FORMAT" }}</strong>
            <p><a href="{% url 'events:page' object.slug page.slug %}">{{ page.name }}</a></p>
        </li>
    {% endfor %}
    </ul>
    {% endif %}
{% endblock %}
