{% extends "base.html" %}

{% load bootstrap3 %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
    {% if object.logo_style == 1 and object.logo_file != None %}
    <img class="img-responsive center-block" src="{% url 'events:logo' object.slug object.logo_file.filename %}">
    {% elif object.logo_style == 2 %}
    <img class="img-responsive center-block" src="{% static 'icpc-logo.png' %}">
    {% endif %}

    <h1>{% block title %}{{ object.name }}{% endblock %}</h1>
    {{ object.description|urlize|linebreaks }}

    {% if object.is_registration_available %}
        <a href="{% url 'events:register_coach' object.slug %}" class="btn btn-primary btn-lg">
            {% if object.registering_coaches %}{% trans 'Register as Coach' %}{% else %}{% trans 'Register as Сontestant' %}{% endif %}
        </a>
    {% endif %}
{% endblock %}
