{% extends 'courses/base.html' %}

{% load bootstrap3 %}
{% load i18n %}
{% load irunner_cache %}
{% load irunner_courses %}

{% block main %}

{% bootstrap_messages %}

<form method="get" class="form-inline" action="{% url 'courses:course_assignment_redirect' course.id %}">
    <div class="ir-solution-filter">
        {{ membership_form.membership }}
        <button type="submit" class="btn btn-default">
            {% trans 'Apply' %}
        </button>
    </div>
</form>

{% if not data %}
    <div class="ir-absence">{% trans 'No user selected' %}</div>
{% else %}

<form method="post">
{% csrf_token %}

<table class="table ir-assignment">
    <tbody>
        {% for topic in data.topics %}
            {% for slot in topic.slots %}
                <tr>
                    {% if forloop.first %}
                        <td rowspan="{{ topic.slots|length }}" class="ir-topic">
                            <div class="ir-topic-name">
                                {{ topic.name }}
                            </div>
                            <div class="ir-penalty-link">
                                <a href="?penaltytopic={{ topic.topic_id }}">{% trans 'Add penalty problem' %}</a>
                            </div>
                        </td>
                    {% endif %}

                    <td{% if slot.is_penalty %} class="ir-penalty"{% endif %}>
                        {% bootstrap_form_errors slot.form %}
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="form-group {%if slot.form.problem.errors %}has-error{%endif%}">
                                    <div class="input-group">
                                        {{ slot.form.problem }}
                                        <div class="input-group-addon ir-icon-links">
                                            <a href="#" id="{{ slot.form.problem.auto_id }}-statement">{% bootstrap_icon 'film' %}</a>&nbsp;&nbsp;<a href="#" id="{{ slot.form.problem.auto_id }}-manage">{% bootstrap_icon 'pencil' %}</a>
                                        </div>
                                    </div>
                                    {% if slot.form.problem.errors %}
                                        {% for error in slot.form.problem.errors %}
                                            <span class="help-block">{{ error }}</span>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div>
                                    нет решений
                                </div>
                            </div>
                            <div class="col-sm-4">
                                {#{% bootstrap_field slot.form.criteria show_label=False %}#}
                                {% for checkbox in slot.form.criteria %}
                                    <div class="checkbox">
                                        <label>
                                            {{ checkbox.tag }}
                                            {% irunner_cache_lookup criterion_cache checkbox.choice_value as criterion %}
                                            {% irunner_courses_criterion criterion checkbox.is_checked %}
                                            {{ checkbox.choice_label }}
                                        </label>
                                    </div>
                                {% endfor %}
                                {% if slot.extra_requirements %}
                                    {% bootstrap_field slot.form.extra_requirements_ok %}
                                {% endif %}
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>

<div class="form-group">
    <button type="submit" class="btn btn-default">{% trans 'Save' %}</button>
</div>

</form>

<div class="panel panel-success ir-assignment">
    <div class="panel-heading">{% trans 'Extra problems' %}</div>
    <div class="panel-body">
        {% trans 'Not implemented yet.' %}
    </div>
</div>

<script>
    function setLinks(select) {
        var id = select.attr('id');

        var statementUrl = "#";
        var manageUrl = "#";

        var selectedProblem = $("#" + id + " option:selected");
        if (selectedProblem) {
            var problemId = selectedProblem.val();
            if (problemId) {
                var topicID = select.data('topic');
                if (topicID) {
                    statementUrl = Urls["courses:course_problems_topic_problem"]({{ course.id }}, topicID, problemId);
                    manageUrl = Urls["problems:overview"](problemId);
                }
            }
        }

        $("#" + id + "-statement").attr("href", statementUrl);
        $("#" + id + "-manage").attr("href", manageUrl);
    }

    $(document).ready(function() {
        $("select.ir-choose-problem").change(function() {
            setLinks($(this));
        }).each(function() {
            setLinks($(this));
        });
    });
</script>

{% endif %}

{% endblock %}
