{% extends "base.html" %}

{% load bootstrap3 %}
{% load i18n %}

{% block content %}
    {% if user.is_admin %}
    <div class="pull-right">
        <a href="{% url 'courses:new' %}" class="btn btn-default">
            {% bootstrap_icon 'plus' %} <span class="ir-icon-label">{% trans 'New course' %}</span>
        </a>
    </div>
    {% endif %}
    <h1>
        {% block title %}{{ title }}{% endblock %}
        {% if link_to_all %}<small><a href="{% url 'courses:index_all' %}">{% trans 'Show all' %}</a></small>{% endif %}
    </h1>

    {% if access_warning and not user.is_staff %}
        <p class="help-block">{% trans 'Showing the courses that you have access to.' %}</p>
    {% endif %}

    {% if pairs %}
        <div class="row">
        {% for year, courses in pairs %}
            <div class="col-md-6 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {% if year != None %}{{ year }}{% else %}&nbsp;{% endif %}
                    </div>
                    <table class="ir-course-list">
                        <thead>
                            <tr>
                                <th></th>
                                <th><span title="{% trans 'Students' %}">{% bootstrap_icon 'user' %}</span></th>
                                <th><span title="{% trans 'Solutions' %}">{% bootstrap_icon 'tasks' %}</span></th>
                                <th colspan="2"><span title="{% trans 'Messages' %}">{% bootstrap_icon 'envelope' %}</span></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for item in courses %}
                            <tr>
                                <td><a href="{% url 'courses:show_course_info' item.id %}">{% if item.archived %}<span class="text-muted">{% endif %}{% if item.my %}<strong>{% endif %}{{ item.name }}{% if item.my %}</strong>{% endif %}{% if item.archived %}</span>{% endif %}</a></td>
                                <td>{{ item.student_count }}</td>
                                <td>{{ item.solution_count }}</td>
                                <td>{% if item.unread_count %}<a href="{% url 'courses:messages_empty' item.id %}"><span class="badge">{{ item.unread_count }}</span></a>{% endif %}</td>
                                <td>{% if item.unresolved_count %}<a href="{% url 'courses:messages_empty' item.id %}"><span class="badge ir-badge-unresolved">{{ item.unresolved_count }}</span></a>{% endif %}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endfor %}
        </div>
    {% else %}
        <div class="ir-absence">{% trans 'There are no courses available.' %}</div>
    {% endif %}
{% endblock %}
