{% extends 'courses/base.html' %}

{% load bootstrap3 %}
{% load i18n %}
{% load irunner_courses %}
{% load irunner_solutions %}
{% load irunner_problems %}

{% block main %}

<table class="table table-bordered ir-assignment">
    <tbody>
        {% for topic_result in user_result.topic_results %}
            {% with topic_result.get_slot_and_penalty_results as joint_results %}
                {% for slot_result in joint_results %}
                    <tr>
                        {% if forloop.first %}
                            <td rowspan="{{ joint_results|length }}" class="ir-topic">
                                <div class="ir-topic-name">
                                    {{ topic_result.topic_descr.topic.name }}
                                </div>
                            </td>
                        {% endif %}

                        <td>
                            {% if slot_result.is_penalty %}
                                <div class="bg-warning text-warning ir-penalty-p">{% trans 'Penalty problem' %}</div>
                            {% endif %}
                            {% irunner_courses_slotresult slot_result course.id editable=False %}
                        </td>
                    </tr>
                {% endfor %}
            {% endwith %}
        {% endfor %}
    </tbody>
</table>

{% endblock %}
