{% extends 'courses/base3pane.html' %}

{% load i18n %}

{% block subtitle %}{% trans 'Course problems' %}{% endblock %}

{% block main %}
<div>
    {% if topic_header %}
    <div class="ir-float-parent">
        <ul class="nav nav-pills ir-inline-block ir-condensed-pills">
            {% for topic in topic_header.topics %}
            <li role="presentation"{% if topic_header.active_topic_id == topic.id %} class="active"{% endif %}>
                <a href="{% url 'courses:course_problems_topic' course.id topic.id %}">{{ topic.name }}</a>
            </li>
            {% endfor %}
            <li role="presentation"{% if topic_header.is_common_topic_active %} class="active"{% endif %}>
                <a href="{% url 'courses:course_common_problems' course.id %}">{% trans 'Common problems' %}</a>
            </li>
        </ul>

        {% if location %}
        <ul class="pagination navbar-right ir-pagination-no-margin">
            <li>
                <a href="{{ location.prev_url }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li>
                <a href="{{ location.folder_url }}">
                    {{ location.cur_position }} {% trans 'of' %} {{ location.total_positions }}
                </a>
            </li>
            <li>
                <a href="{{ location.next_url }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
        {% endif %}
    </div>

    <div class="ir-pill-content">
    {% endif %}
        {% block submain %}
            {% trans 'Select a topic to view problems.' %}
        {% endblock %}
    {% if topic_header %}
    </div>
    {% endif %}
</div>
{% endblock %}
