{% extends 'courses/base.html' %}

{% load bootstrap3 %}
{% load i18n %}
{% load irunner_quizzes %}
{% load irunner_time %}

{% block subtitle %}{% trans 'Quizzes' %}{% endblock %}

{% block main %}

    {% if quizzes %}
        <!--[if lte IE 8]>
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <strong>{% trans 'Your browser is out-of-date.' %}</strong>
                {% trans 'You will not be able to pass a quiz using this browser.' %}
        </div>
        <![endif]-->
        {% for quiz in quizzes %}
            <div class="panel {% if quiz.instance.is_available %}panel-info{% else %}panel-default{% endif %}">
                <div class="panel-heading">
                    {{ quiz.instance.quiz_template.name }}
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3">
                            <ul class="ir-quiz-info-list">
                                {% if quiz.instance.disable_time_limit %}
                                    <li>
                                        {% if quiz.instance.deadline == None %}
                                            {% trans 'no deadline' %}
                                        {% else %}
                                            {% trans 'till' %} {{quiz.instance.deadline}}
                                        {% endif %}
                                    </li>
                                {% else %}
                                    <li>{% irunner_timedelta_humanized quiz.instance.time_limit %}</li>
                                {% endif %}
                                <li>
                                    {% blocktrans count counter=quiz.question_count trimmed %}
                                        {{ counter }} question
                                    {% plural %}
                                        {{ counter }} questions
                                    {% endblocktrans %}
                                </li>
                                {% if quiz.instance.is_available %}
                                    <li>
                                        {% if quiz.attempts_left == None %}
                                            {% trans 'unlimited number of attempts' %}
                                        {% else %}
                                            {% blocktrans count counter=quiz.attempts_left trimmed %}
                                                {{ counter }} attempt left
                                            {% plural %}
                                                {{ counter }} attempts left
                                            {% endblocktrans %}
                                        {% endif %}
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                        <div class="col-md-9 small">
                            {% if quiz.sessions %}
                                <table class="table table-condensed table-hover">
                                    <thead>
                                        <tr>
                                            <th>{% trans '#' %}</th>
                                            <th>{% trans 'Start time' %}</th>
                                            <th>{% trans 'Duration' %}</th>
                                            <th>{% trans 'Mark' %}</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for session in quiz.sessions %}
                                            <tr {% if not session.is_finished %} class="info" {% endif %}>
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{ session.start_time }}</td>
                                                {% if session.is_finished %}
                                                    <td>{% irunner_timediff_hms session.start_time session.finish_time %}</td>
                                                    <td>{% irunner_quizzes_mark session.result session.is_finished session.pending_manual_check session.finish_time quiz.instance.deadline %}</td>
                                                    {% if quiz.instance.show_answers or permissions.quizzes_admin %}
                                                        <td><a href="{% url 'courses:quizzes:answers' course.id session.id %}">{% trans 'Answers' %}</a></td>
                                                    {% else %}
                                                        <td class="text-muted">{% trans 'Not permitted to view answers' %}</td>
                                                    {% endif %}
                                                {% else %}
                                                    <td>&hellip;</td>
                                                    <td>{% irunner_quizzes_mark None %}</td>
                                                    <td>
                                                        <a href="{% url 'courses:quizzes:session' course.id session.id %}">{% trans 'Continue' %}</a>
                                                    </td>
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% endif %}
                            {% if not quiz.sessions and quiz.attempts_left == 1 %}
                                <div class="alert alert-warning" role="alert">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                    <strong>{% trans 'Attention' %}!</strong>
                                    {% trans 'You can pass this quiz only once.' %}
                                </div>
                            {% endif %}

                            {% if permissions.quizzes_admin %}
                                {% if quiz.instance.is_available %}
                                    <form method="post" action="{% url 'courses:quizzes:turn_off' course.id quiz.instance.id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-default btn-sm ir-quiz-inline-btn">
                                            {% bootstrap_icon 'volume-off' %}
                                            <span class="ir-icon-label">{% trans 'Turn off' %}</span>
                                        </button>
                                    </form>
                                {% else %}
                                    <form method="post" action="{% url 'courses:quizzes:turn_on' course.id quiz.instance.id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-default btn-sm ir-quiz-inline-btn">
                                            {% bootstrap_icon 'volume-up' %}
                                            <span class="ir-icon-label">{% trans 'Turn on' %}</span>
                                        </button>
                                    </form>
                                {% endif %}

                                <a class="btn btn-default btn-sm ir-quiz-inline-btn" href="{% url 'courses:quizzes:sheet' course.id quiz.instance.id %}">
                                    {% bootstrap_icon 'list-alt' %}
                                    <span class="ir-icon-label">{% trans 'Sheet' %}</span>
                                </a>
                            {% endif %}
                            {% if quiz.instance.attempts == 1 %}
                                <a class="btn btn-default btn-sm ir-quiz-inline-btn" href="{% url 'courses:quizzes:rating' course.id quiz.instance.id %}">
                                    {% bootstrap_icon 'sort-by-attributes-alt' %}
                                    <span class="ir-icon-label">{% trans 'Rating' %}</span>
                                </a>
                            {% endif %}
                            {% if quiz.can_start %}
                                <form method="post" action="{% url 'courses:quizzes:start' course.id quiz.instance.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary btn-sm">
                                        {% bootstrap_icon 'play' %}
                                        <span class="ir-icon-label">{% trans 'Start quiz' %}</span>
                                    </button>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="ir-absence">{% trans 'No quizzes' %}</div>
    {% endif %}

{% endblock %}
