{% extends 'courses/base.html' %}

{% load bootstrap3 %}
{% load i18n %}
{% load irunner_quizzes %}
{% load irunner_katex %}
{% load irunner_courses %}
{% load irunner_time %}

{% block subtitle %}{% trans 'Quiz answers' %}{% endblock %}

{% block head %}
    {% load static %}
    {% irunner_katex_head %}
    <link href="{% static 'bootstrap3-editable-1.5.1/css/bootstrap-editable.css' %}" rel="stylesheet">
    <script src="{% static 'bootstrap3-editable-1.5.1/js/bootstrap-editable.min.js' %}"></script>
{% endblock %}

{% block main %}

    <div class="row">
        <div class="col-xs-12 text-center ir-res-meta">
            <div class="col-xs-12 h3">
                {{ quiz.name }}
                {% if can_delete %}
                    <button type="button" class="btn btn-default btn-sm pull-right" data-toggle="modal" data-target="#myModal">
                        {% trans 'Delete' %}
                    </button>
                {% endif %}
            </div>
            <div class="col-xs-12">
                <div class="col-xs-6 text-right text-muted">{% trans 'Student' %}:</div>
                <div class="col-xs-6 text-left">{% irunner_courses_user_card quiz.user_id user_cache %}</div>
            </div>
            {% if quiz.reviewer_id %}
            <div class="col-xs-12">
                <div class="col-xs-6 text-right text-muted">{% trans 'Reviewer' %}:</div>
                <div class="col-xs-6 text-left">{% irunner_courses_user_card quiz.reviewer_id user_cache %}</div>
            </div>
            {% endif %}
            <div class="col-xs-12">
                <div class="col-xs-6 text-right text-muted">{% trans 'Mark' %}:</div>
                <div class="col-xs-6 text-left">{% irunner_quizzes_mark quiz.result quiz.is_finished quiz.pending_manual_check %}</div>
            </div>
            <div class="col-xs-12">
                <div class="col-xs-6 text-right text-muted">{% trans 'Points' %}:</div>
                <div class="col-xs-6 text-left">{{ quiz.result_points }} {% trans 'of' %} {{ quiz.points }}</div>
            </div>
            <div class="col-xs-12">
                <div class="col-xs-6 text-right text-muted">{% trans 'Start time' %}:</div>
                <div class="col-xs-6 text-left">{{ quiz.start_time }}</div>
            </div>
            {% if quiz.finish_time %}
                <div class="col-xs-12">
                    <div class="col-xs-6 text-right text-muted">{% trans 'Duration' %}:</div>
                    <div class="col-xs-6 text-left">{% irunner_timediff_hms quiz.start_time quiz.finish_time %}</div>
                </div>
            {% endif %}
        </div>
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-sm-4 bg-success h5 ir-res-legend ir-res-answer-correct">{% trans 'Correct' %}</div>
                    <div class="col-sm-4 bg-danger h5 ir-res-legend ir-res-answer-wrong">{% trans 'Incorrect but chosen' %}</div>
                    <div class="col-sm-4 bg-info h5 ir-res-legend ir-res-answer-notchosen">{% trans 'Correct but not chosen' %}</div>
                </div>
            </div>
            {% for answer in quiz.answers %}
                {% irunner_quizzes_showanswer answer forloop.counter save_mark_url %}
            {% endfor %}
        </div>
    </div>

    {% if can_delete %}
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{% trans 'Delete session' %}</h4>
                </div>
                <div class="modal-body">
                    {% trans 'Quiz session will be deleted' %}.
                </div>

                <div class="modal-footer">
                    <form method="post" action="{% url 'courses:quizzes:delete_session' course.id session.id %}">
                        {% csrf_token %}
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Cancel' %}</button>
                        <button type="submit" class="btn btn-danger">{% trans 'Delete' %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    {% irunner_katex_body %}

    {% csrf_token %}
    <script>
        $(document).ready(function() {
            $('.ir-res-editable-ans').editable({
                ajaxOptions: {
                    headers: {"X-CSRFToken": jQuery("[name=csrfmiddlewaretoken]").val()}
                }
            });
        });
    </script>

{% endblock %}