{% extends 'courses/settings_base.html' %}

{% load bootstrap3 %}
{% load i18n %}

{% block submain %}

<form method="post" autocomplete="off">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% trans 'Save' %}
        </button>
        <a href="{% url 'courses:course_settings_delete' course.id %}" class="btn btn-link">
            {% trans 'Delete the course' %}
        </a>
    {% endbuttons %}
</form>

{% endblock %}
