{% extends 'courses/settings_base.html' %}

{% load i18n %}

{% block submain %}

<ul>
{% for topic in object_list %}
    <li>
        <a href="{% url 'courses:course_settings_topics_update' course.id topic.id %}">{{ topic.name }}</a>
        <dl class="dl-horizontal">
            <dt>{% trans 'Folder' %}</dt>
            <dd>
                {% if topic.problem_folder %}
                    &laquo;{{ topic.problem_folder }}&raquo;
                    ({% blocktrans count counter=topic.problem_folder.problem_set.count %}{{ counter }} problem{% plural %}{{ counter }} problems{% endblocktrans %})
                {% else %}
                    no
                {% endif %}
            </dd>
            <dt>{% trans 'To assign' %}</dt>
            <dd>{% blocktrans count counter=topic.slot_set.count %}{{ counter }} problem{% plural %}{{ counter }} problems{% endblocktrans %}</dd>
        </dl>
    </li>
{% endfor %}
    <hr>
    <li>
        <strong><a href="{% url 'courses:course_settings_topics_create' course.id %}">{% trans 'Create new topic' %}</a></strong>
    </li>
</ul>

{% endblock %}
