{% extends 'courses/settings_base.html' %}

{% load bootstrap3 %}
{% load i18n %}

{% block submain %}

<form method="post" autocomplete="off">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" name="save" class="btn btn-primary">
            {% bootstrap_icon 'ok' %} {% trans 'Save' %}
        </button>
        <a href="{{ cancel_url }}" role="button" class="btn btn-default">
            {% bootstrap_icon 'remove' %} {% trans 'Cancel' %}
        </a>
        {% if can_delete %}
        <button type="submit" name="delete" class="btn btn-danger">
            {% bootstrap_icon 'trash' %} {% trans 'Delete' %}
        </button>
        {% endif %}
    {% endbuttons %}
</form>

{% endblock %}
