{% extends 'base.html' %}

{% load bootstrap3 %}
{% load irunner_problems %}
{% load irunner_courses %}
{% load irunner_solutions %}
{% load i18n %}

{% block title %}{% trans 'Standings' context 'course' %} ({% trans 'widescreen' %}) &mdash; {{ course }}{% endblock %}

{% block allbody %}
<div class="container-fluid">
    <h2>{% trans 'Standings' context 'course' %}: {{ course }}</h2>

    {% irunner_courses_standings course.id user_cache request.user permissions.assign course_descr results wide=True %}

    <p>
        {#<a href="{% url 'courses:course_standings' course.id %}">{% trans 'Back' %}</a>#}
    </p>
</div>
{% endblock %}
