{% extends 'courses/base.html' %}

{% load bootstrap3 %}
{% load irunner_problems %}
{% load irunner_courses %}
{% load irunner_solutions %}
{% load i18n %}

{% block extrasidebar %}
<div class="list-group">
    <a href="{% url 'courses:course_standings_wide' course.id %}" class="list-group-item" target="_blank">
        {% bootstrap_icon 'resize-horizontal' %} <span class="ir-icon-label">{% trans 'Wide version' %}</span>
    </a>
</div>
{% endblock %}

{% block main %}
<table class="table ir-table-more-condensed table-striped ir-course-standings">
    <thead>
        <tr>
            <th class="ir-seq-no">{% trans '#' %}</th>
            <th>{% trans 'Student' %}</th>
            {% for topic_descr in course_descr.topic_descrs %}
                {% with topic_descr.get_slot_count as width %}
                    <th {% if width > 1 %}colspan="{{ width }}"{% endif %}>
                        <a href="{% url 'courses:course_problems_topic' course.id topic_descr.topic.id %}">{{ topic_descr.topic.name }}</a>
                    </th>
                {% endwith %}
            {% endfor %}
            <th>{% trans 'Result' %}</th>
        </tr>
    </thead>
    <tbody>
        {% for user_result in results %}
        <tr{% if user_result.user == user %} class="ir-me"{% endif %}>
            <td class="ir-seq-no{% if user_result.membership.subgroup %} ir-subgroup-1{% else %} ir-subgroup-0{% endif %}">
                {{ forloop.counter }}
            </td>

            <td>
                {% if permissions.assign %}
                    <a href="{% url 'courses:course_assignment' course.id user_result.membership.id %}">
                {% endif %}

                <b>{{ user_result.user.last_name }}</b>
                {{ user_result.user.first_name }}

                {% if permissions.assign %}
                    </a>
                {% endif %}

                {% if user_result.membership.subgroup %}
                    <span class="ir-subgroup-label">
                        ({{ user_result.membership.subgroup }})
                    </span>
                {% endif %}
            </td>

            {% for topic_result in user_result.topic_results %}
                {% for slot_result in topic_result.slot_results %}
                    <td class="text-nowrap ir-slot">
                        {% if slot_result.should_show_in_standings %}
                            {% with slot_result.assignment.problem as problem %}
                                {% irunner_problems_complexity problem.complexity %}
                                {% for criterion_descr in slot_result.criterion_descrs %}
                                    {% irunner_courses_criterion criterion_descr.criterion criterion_descr.ok %}
                                {% endfor %}
                                {% with slot_result.problem_result as pr %}
                                    {% if pr %}
                                        {% if pr.was_submitted %}
                                            {% irunner_solutions_scorebox pr.best_solution.best_judgement %}
                                        {% endif %}
                                    {% endif %}
                                {% endwith %}
                            {% endwith %}
                        {% endif %}
                    </td>
                {% endfor %}
            {% endfor %}
            <td>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
