{% extends "base.html" %}

{% load bootstrap3 %}
{% load i18n %}

{% block content %}
    <h1>{% block title %}{% trans 'Contests' %}{% endblock %}</h1>
    {% if pairs %}
        {% for year, contests in pairs %}
            <h4>{{ year }}</h4>
            <ul>
                {% for contest in contests %}
                    <li><a href="{% url 'contests:standings' contest.id %}">{{ contest }}</a> &mdash; {{ contest.start_time }}</li>
                {% endfor %}
            </ul>
        {% endfor %}
    {% else %}
        <p>{% trans 'There are no contests available.' %}</p>
    {% endif %}
    <p><a href="{% url 'contests:new' %}">{% trans 'New contest' %}</a></p>
{% endblock %}
