{% extends 'contests/base.html' %}

{% load irunner_contests %}
{% load irunner_users %}
{% load bootstrap3 %}
{% load i18n %}

{% block subtitle %}{% trans 'Messages' %}{% endblock %}

{% block main %}
    {% if permissions.manage_messages %}
        <div class="form-group text-right">
            <a href="{% url 'contests:messages_new' contest.id %}" class="btn btn-default">
                {% bootstrap_icon 'pencil' %} <span class="ir-icon-label">{% trans 'New message' %}</span>
            </a>
        </div>
    {% endif %}
    {% if not messages %}
        <div class="ir-absence">{% trans 'No messages' %}</div>
    {% else %}
        {% for message in messages %}
            {% irunner_contests_message message edit_mode=permissions.manage_messages contest_id=contest.id %}
        {% endfor %}
    {% endif %}
{% endblock %}
