{% load bootstrap3 %}
{% load i18n %}

<div class="list-group ir-list-group-success">
    <a class="list-group-item list-group-item-success{% if active_tab == 'info' %} active{% endif %}">
        {% bootstrap_icon 'info-sign' %}
        <span class="ir-icon-label">{{ contest.name }}</span>
    </a>

    {% if permissions.standings %}
        <a href="{% url 'contests:standings' contest.id %}" class="list-group-item{% if active_tab == 'standings' %} active{% endif %}">
            {% bootstrap_icon 'list-alt' %}
            <span class="ir-icon-label">{% trans 'Standings' context 'contest' %}</span>
        </a>
    {% endif %}

    {% if permissions.problems %}
        <a href="{% url 'contests:problems' contest.id %}" class="list-group-item{% if active_tab == 'problems' %} active{% endif %}">
            {% bootstrap_icon 'briefcase' %}
            <span class="ir-icon-label">{% trans 'Problems' %}</span>
        </a>
    {% endif %}

    {% if permissions.read_messages or permissions.manage_messages %}
        <a href="{% url 'contests:messages' contest.id %}" class="list-group-item{% if active_tab == 'messages' %} active{% endif %}">
            {% bootstrap_icon 'envelope' %}
            <span class="ir-icon-label">{% trans 'Messages' %}</span>
            {% if unread_messages %}<span class="badge">{{ unread_messages }}</span>{% endif %}
        </a>
    {% endif %}

    {% if permissions.ask_questions %}
        <a href="{% url 'contests:my_questions' contest.id %}" class="list-group-item{% if active_tab == 'my_questions' %} active{% endif %}">
            {% bootstrap_icon 'question-sign' %}
            <span class="ir-icon-label">{% trans 'Questions' %}</span>
            {% if unread_answers %}<span class="badge">{{ unread_answers }}</span>{% endif %}
        </a>
    {% endif %}

    {% if permissions.answer_questions %}
        <a href="{% url 'contests:all_questions' contest.id %}" class="list-group-item{% if active_tab == 'all_questions' %} active{% endif %}">
            {% bootstrap_icon 'question-sign' %}
            <span class="ir-icon-label">{% trans 'Questions' %}</span>
            {% if unanswered_questions %}<span class="badge">{{ unanswered_questions }}</span>{% endif %}
        </a>
    {% endif %}

    {% if permissions.all_solutions %}
        <a href="{% url 'contests:all_solutions' contest.id %}" class="list-group-item{% if active_tab == 'all_solutions' %} active{% endif %}">
            {% bootstrap_icon 'tasks' %}
            <span class="ir-icon-label">{% trans 'All solutions' %}</span>
        </a>
    {% endif %}

    {% if permissions.my_solutions %}
        <a href="{% url 'contests:my_solutions' contest.id %}" class="list-group-item{% if active_tab == 'my_solutions' %} active{% endif %}">
            {% bootstrap_icon 'tasks' %}
            <span class="ir-icon-label">{% trans 'My solutions' %}</span>
        </a>
    {% endif %}

    {% if permissions.submit %}
        <a href="{% url 'contests:submit' contest.id %}{% if problem_to_submit %}?problem={{ problem_to_submit }}{% endif %}" class="list-group-item{% if active_tab == 'submit' %} active{% endif %}">
            {% bootstrap_icon 'send' %}
            <span class="ir-icon-label">{% if problem_to_submit %}<strong>{% endif %}{% trans 'Submit solution' %}{% if problem_to_submit %}</strong>{% endif %}</span>
        </a>
    {% endif %}

    {% if permissions.settings %}
        <a href="{% url 'contests:settings_properties' contest.id %}" class="list-group-item{% if active_tab == 'settings' %} active{% endif %}">
            {% bootstrap_icon 'cog' %}
            <span class="ir-icon-label">{% trans 'Settings' %}</span>
        </a>
    {% endif %}
</div>
