{% extends 'contests/base.html' %}

{% load irunner_messagebox %}
{% load irunner_solutions %}
{% load bootstrap3 %}
{% load i18n %}

{% block subtitle %}{% trans 'Submit solution' %}{% endblock %}

{% block main %}
    {% if status == 'BEFORE' %}
        <div class="ir-absence">{% trans 'Submission form will be available after the start of the contest' %}</div>
    {% endif %}
    {% if status == 'AFTER' %}
        <div class="ir-absence">{% trans 'The contest is over' %}</div>
    {% endif %}
    {% if status == 'UPSOLVING' %}
        {% irunner_messagebox style='warning' wide=True %}
            <p>{% bootstrap_icon 'warning-sign' %} <span class="ir-icon-label">{% trans 'The contest is over' %}. {% trans 'Upsolving mode is on: your submission will not affect the final standings.' %}</span></p>
        {% irunner_endmessagebox %}
    {% endif %}

    {% if form %}
        {% irunner_solutions_submit form get_attempts_url %}
    {% endif %}
{% endblock %}
