{% extends "base.html" %}

{% load i18n %}
{% load bootstrap3 %}

{% block content %}

<form action="" method="post">
    {% csrf_token %}

    <p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

    {% bootstrap_form form layout='horizontal' %}

    {% buttons %}
        <button type="submit" class="btn btn-default">
            {% trans 'Change my password' %}
        </button>
    {% endbuttons %}
</form>

{% endblock %}
