{% extends 'base.html' %}
{% load systemname %}

{% block content %}
<h1>О системе {% system_short_name %}</h1>

<p>
{% system_full_name %} — это учебно-методический комплекс, предназначенный для обслуживания
олимпиад по программированию, проведения практических занятий по основам алгоритмизации и
смежным наукам.
</p>

<p>
{% system_full_name %} — простой инструмент с эффективной функциональностью контроля, тренинга и самостоятельной работы.

Система позволят переложить на компьютер сугубо механическую работу преподавателя при проверке решений.
Комплекс легко осваивается и интегрируется в учебный процесс.
С его помощью можно эффективно решать следующие задачи:
<ul>
	<li>создание и поддержка большого архива заданий;</li>
    <li>проведение online- и offline-олимпиад;</li>
    <li>организацию практических занятий и сборов по информатике;</li>
    <li>самостоятельная подготовка к занятиям.</li>
</ul>
</p>
{% endblock %}
