{% extends 'base.html' %}

{% block content %}
{% load bootstrap3 %}
{% load i18n %}

<div class="row">
    <div class="col-sm-5">
        {{ form.folders }}
    </div>
    <div class="col-sm-2 text-center">
        <div id="loading" style="display: none;">
            <p>{% bootstrap_icon 'refresh' %} Loading...</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-5">
        <select multiple class="form-control ir-multiselect-tab" id="folderSelectionSrc">
        </select>
    </div>
    <div class="col-sm-2 text-center">
        <div class="btn-group-vertical">
            <button type="button" id="add" class="btn btn-default">
                {% bootstrap_icon 'triangle-right' %} <span class="ir-icon-label">{% trans 'Add' %}</span>
            </button>
            <button type="button" id="addAll" class="btn btn-default">
                {% bootstrap_icon 'forward' %} <span class="ir-icon-label">{% trans 'Add all' %}
            </button>
            <button type="button" id="remove" class="btn btn-default">
                {% bootstrap_icon 'triangle-left' %} <span class="ir-icon-label">{% trans 'Remove' %}
            </button>
            <button type="button" id="removeAll" class="btn btn-default">
                {% bootstrap_icon 'backward' %} <span class="ir-icon-label">
                {% trans 'Remove all' %}
            </button>
        </div>
    </div>
    <div class="col-sm-5">
        <select multiple class="form-control ir-multiselect-tab" id="folderSelectionDst">
        </select>
    </div>
</div>

<script>
    function getChosenSet() {
        var set = Object.create(null);
        $("#folderSelectionDst option").each(function() {
            var id = $(this).val();
            set[id] = true;
        });
        return set;
    }

    function chooseNotChosenYet(options) {
        var lst = $("#folderSelectionDst");
        var alreadyChosen = getChosenSet();

        options.each(function() {
            var id = $(this).val();
            var text = $(this).text();

            if (!(id in alreadyChosen)) {
                lst.append($("<option />").val(id).text(text));
                $(this).prop("selected", false).attr("disabled", "disabled");
                alreadyChosen[id] = true;
            }
        });
    }

    function resetDisabled() {
        var alreadyChosen = getChosenSet();

        $("#folderSelectionSrc option").each(function() {
            var id = $(this).val();

            if (id in alreadyChosen) {
                $(this).prop("selected", false).attr("disabled", "disabled");
            } else {
                $(this).removeAttr("disabled");
            }
        });
    }

    $(document).ready(function() {
        $("#{{ form.folders.auto_id }}").change(function() {
            var folderId = $("#{{ form.folders.auto_id }} option:selected").val();
            if (!folderId) {
                return;
            }
            $("#loading").show();
            $.getJSON("/list/" + folderId + "/", function(json) {
                var items = json.data || [];
                $("#loading").hide();
                var lst = $("#folderSelectionSrc");
                var alreadyChosen = getChosenSet();
                lst.empty();
                $.each(items, function() {
                    var option = $("<option />").val(this.id).text(this.name);
                    if (this.id in alreadyChosen) {
                        option.attr("disabled", "disabled");
                    }
                    lst.append(option);
                });
            });
        });

        $("#add").click(function() {
            chooseNotChosenYet($("#folderSelectionSrc option:selected"));
        });
        $("#addAll").click(function() {
            chooseNotChosenYet($("#folderSelectionSrc option"));
        });
        $("#remove").click(function() {
            $("#folderSelectionDst option:selected").remove();
            resetDisabled();
        });
        $("#removeAll").click(function() {
            $("#folderSelectionDst option").remove();
            resetDisabled();
        });
    });
</script>

{% endblock %}
