{% load irunner_folders %}
{% if it_data %}
    {# irunner-like tree #}
    {% spaceless %}
    <div class="ir-folder-tree" id="{{ uid }}">
        <ul>
    {% for item in it_data %}
        {% if item.kind == '(' %}
            <li><ul>
        {% elif item.kind == '(*' %}
            <li style="display: none"><ul>
        {% elif item.kind == ')' %}
            </ul></li>
        {% else %}
            <li>
                {% if item.kind == '.' %}
                    <span class="ir-bullet">&middot;</span>
                {% else %}
                    <span class="ir-bullet{% if dynamic %} ir-bullet-dyn{% endif %}">{% if item.kind == '+' %}+{% else %}−{% endif %}</span>
                {% endif %}
                {% if item.breadcrumb.is_link %}<a {% if url_pattern %}href="{% irunner_folders_url url_pattern item.breadcrumb.folder_id %}"{% else %}href="#" data-id="{{ item.breadcrumb.folder_id_or_root }}"{% endif %}>{% else %}<strong>{% endif %}{{ item.breadcrumb.name }}{% if item.breadcrumb.is_link %}</a>{% else %}</strong>{% endif %}
            </li>
        {% endif %}
    {% endfor %}
        </ul>
    </div>
    {% endspaceless %}{% if dynamic %}
    <script>
        function onClick_{{ uid }}() {
            var parent = $(this).parent();
            var bullet = parent.find(".ir-bullet");

            if (bullet.text() === "+") {
                bullet.text("−");
                parent.next().show();
            } else if (bullet.text() === "−") {
                bullet.text("+");
                parent.next().hide();
            }
        }
        $(document).ready(function() {
            $("#{{ uid }}").on("click", ".ir-bullet", onClick_{{ uid }});
        });
    </script>
    {% endif %}
{% endif %}
{% if ft_data %}
    {# FancyTree tree #}
    <div id="{{ uid }}"></div>

    <script>
        $(document).ready(function() {
            var fancyTree = $("#{{ uid }}").fancytree({
                source: {{ ft_data|safe }}
            });
            {% if folder_id_or_root %}
                $("#{{ uid }}").fancytree("getTree").activateKey("{{ folder_id_or_root }}");
            {% endif %}
            fancyTree.bind("fancytreeactivate", function(event, data) {
                location.href = Urls["{{ url_pattern }}"](data.node.key.toString());
            });
        });
    </script>
{% endif %}
