{% load i18n %}
{% load irunner_storage %}

<div>
    {% if representation %}
        {% if not compact %}
            {% if representation.is_binary %}
            <div class="alert alert-warning">
                {% trans "The file is binary." %}
            </div>
            {% endif %}
            {% if not representation.is_complete %}
            <div class="alert alert-info">
                {% trans "The file is <strong>too big</strong>, so it is displayed truncated. You can download the full version." %}
            </div>
            {% endif %}
        {% endif %}

        {% if representation.hexdata != None %}
            <pre class="ir-pre"><code class="hljs">{% irunner_storage_hex representation.hexdata compact=compact %}</code></pre>
        {% elif representation.text != None %}
            {% if programming_language and representation.is_complete %}
                <pre class="ir-pre"><code class="{{ programming_language }} hljs">{{ representation.text }}</code></pre>
            {% else %}
                <pre class="ir-pre"><code class="hljs">{{ representation.text }}</code></pre>
            {% endif %}
        {% endif %}
    {% else %}
        <div class="ir-absence">{% trans 'No data' %}</div>
    {% endif %}
</div>
