{% extends 'base.html' %}

{% load i18n %}
{% load l10n %}
{% load irunner_problems %}
{% load irunner_solutions %}
{% load irunner_stats %}
{% load irunner_users %}

{% block content %}
    <h1>{% block title %}{% trans 'Activity' %}{% endblock %}</h1>

    <h2>{% trans 'Submission count during the year' %}</h2>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="ir-activity-chart">
                <div class="ir-row">
{% for info in results_year %}
<div class="ir-bar-container" title="{{ info.date }}&#10;{% trans 'Rejected' %}: {{ info.rejected }}&#10;{% trans 'Accepted' %}: {{ info.accepted }}">
<div class="ir-bar ir-rejected" style="height:{{ info.get_all_perc }}"></div>
<div class="ir-bar ir-accepted" style="height:{{ info.get_accepted_perc }}"></div>
</div>
{% endfor %}
                </div>
            </div>
        </div>
    </div>

    <h2>{% trans 'Statistics of courses during the current term' %} <small>{% trans 'starting from' %} {{ term_start }}</small></h2>

    <div class="panel panel-default">
        <div class="panel-heading">{% trans 'Submission count' %}</div>
        <div class="panel-body">
            <div class="ir-activity-chart" style="max-width: {{ max_width_px }}px">
                <div class="ir-row">
{% for info in results_term %}
<div class="ir-bar-container" title="{{ info.date }}&#10;{% trans 'Rejected' %}: {{ info.rejected }}&#10;{% trans 'Accepted' %}: {{ info.accepted }}">
<div class="ir-bar ir-rejected" style="height:{{ info.get_all_perc }}"></div>
<div class="ir-bar ir-accepted" style="height:{{ info.get_accepted_perc }}"></div>
</div>
{% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">{% trans 'All solutions' %}</div>
                <div class="panel-body">
                    {% irunner_stats_proglangbars all_proglangbars %}
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-success">
                <div class="panel-heading">{% trans 'Accepted solutions' %}</div>
                <div class="panel-body">
                    {% irunner_stats_proglangbars accepted_proglangbars %}
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-warning">
                <div class="panel-heading">{% trans 'Outcomes' %}</div>
                <div class="panel-body">
                    {% irunner_stats_outcomebars outcomebars %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
