{% load i18n %}
{% load irunner_solutions %}

{% if test_results %}

<table class="table ir-table-more-condensed" id="{{ uid }}">
    <thead>
        <tr>
            <th class="ir-col-no">{% trans '#' %}</th>
            <th class="ir-col-outcome">{% trans 'Outcome' %}</th>
            <th class="ir-col-score">{% trans 'Score' %}</th>
            <th class="ir-col-limit">{% trans 'Time' %}</th>
            <th class="ir-col-limit">{% trans 'Memory' %}</th>
            <th class="ir-col-code">{% trans 'Exit Code' %}</th>
            <th class="ir-col-msg">
            {% if solution_permissions.checker_messages %}
                {% trans 'Checker Message' %}
            {% endif %}
            </th>
        </tr>
    </thead>
    <tbody>
        {% for test in test_results %}
        <tr{% if enable_tests_data %} class="ir-toggle-row"{% endif %} data-testid="{{ test.id }}">
            {# arrow > is shown only when the row can be expanded #}
            <td class="ir-col-no">{{ forloop.counter }}{% if enable_tests_data %}&nbsp;<span class="ir-arrow">&#x25BA;</span>{% endif %}</td>
            <td class="ir-col-outcome">{% irunner_solutions_outcomebox test.outcome %}</td>
            <td class="ir-col-score">{{ test.score }} {% trans 'of' %} {{ test.max_score }}</td>
            <td class="ir-col-limit">{% irunner_solutions_timelimitbox test.time_used test.time_limit %}</td>
            <td class="ir-col-limit">{% irunner_solutions_memorylimitbox test.memory_used test.memory_limit %}</td>
            <td class="ir-col-code">{{ test.exit_code }}</td>
            <td class="ir-col-msg">
                {% if solution_permissions.checker_messages %}
                    <div class="ir-checker-msg">{{ test.checker_message }}</div>
                {% endif %}
            </td>
        </tr>
        <tr style="display: none">
            <td class="ir-col-no"></td>
            <td colspan="6">
                <div class="ir-ajax-data">
                    <div class="ir-ajax-message">
                    </div>
                </div>

                <div>
                    <button class="btn btn-default btn-sm ir-btn-hide" type="button">{% trans 'Hide' %}</button>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if enable_tests_data %}
<script>
function showHideTest_{{ uid }}(row) {
    var testcaseresultId = row.data("testid");
    {% if first_placeholder %}
        var url = Urls["{{ url_pattern }}"]("{{ first_placeholder }}", testcaseresultId);
    {% else %}
        var url = Urls["{{ url_pattern }}"](testcaseresultId);
    {% endif %}
    if (!url) {
        return;
    }
    var detailsRow = row.next("tr");
    var arrowSpan = row.find(".ir-arrow");
    if (detailsRow.css("display") === "none") {
        if (!detailsRow.data("fetched")) {
            var dataDiv = detailsRow.find(".ir-ajax-data");
            var messageDiv = detailsRow.find(".ir-ajax-message");
            messageDiv.text("{% trans 'Loading...' %}");
            $.get(url, function(data) {
                dataDiv.html(data);
                detailsRow.data("fetched", true);
            }).fail(function() {
                messageDiv.text("{% trans 'Error while getting data from server.' %}");
            });
        }
        detailsRow.show();
        arrowSpan.html("&#x25BC;");
    } else {
        detailsRow.hide();
        arrowSpan.html("&#x25BA;");
    }
}
$(document).ready(function() {
    var table = $("#{{ uid }}");
    table.find(".ir-toggle-row").click(function() {
        showHideTest_{{ uid }}($(this));
    });
    table.find(".ir-btn-hide").click(function() {
        var row = $(this).parents("tr").first().prev();
        showHideTest_{{ uid }}(row);
    });
});
</script>
{% endif %}

{% else %}{# if not test_results #}
<div class="ir-absence">
    {% trans 'No test results' %}
</div>
{% endif %}
