{% extends "solutions/solution.html" %}

{% load i18n %}
{% load bootstrap3 %}
{% load solution_extras %}
{% load limitboxes %}

{% block main %}

<table class="table ir-table-more-condensed">
    <thead>
        <tr>
            <th class="ir-col-no">{% trans '#' %}</th>
            <th class="ir-col-outcome">{% trans 'Outcome' %}</th>
            <th class="ir-col-score">{% trans 'Score' %}</th>
            <th class="ir-col-limit">{% trans 'Time' %}</th>
            <th class="ir-col-limit">{% trans 'Memory' %}</th>
            <th class="ir-col-code">{% trans 'Exit Code' %}</th>
            <th class="ir-col-msg">{% trans 'Checker Message' %}</th>
        </tr>
    </thead>
    <tbody>
        {% for test in test_results %}
        <tr id="{{ test.id }}" class="ir-toggle-row">
            <td class="ir-col-no">{{ forloop.counter }}&nbsp;<span class="ir-arrow" id="{{ test.id }}-arrow">&#x25BA;</span></td>
            <td class="ir-col-outcome">{% outcomebox test.outcome %}</td>
            <td class="ir-col-score">{{ test.score }} of {{ test.max_score }}</td>
            <td class="ir-col-limit">{% timelimitbox test.time_used test.time_limit %}</td>
            <td class="ir-col-limit">{% memorylimitbox test.memory_used test.memory_limit %}</td>
            <td class="ir-col-code">{{ test.exit_code }}</td>
            <td class="ir-col-msg">
                <div class="ir-checker-msg">{{ test.checker_message }}</div>
            </td>
        </tr>
        <tr id="{{ test.id }}-detail" style="display: none">
            <td class="ir-col-no"></td>
            <td colspan="6">
                <div id="{{ test.id }}-data">
                    <div id="{{ test.id }}-message" class="ir-ajax-message">
                    </div>
                </div>
                </div>
            </td>
        <tr>
        {% endfor %}
    </tbody>
</table>

<script>
function showHideTest() {
    var solutionId = {{ solution.id }};
    var testcaseresultId = $(this).attr("id");

    var detailsRow = $("#" + testcaseresultId + "-detail");
    var arrow = $("#" + testcaseresultId + "-arrow");

    if (detailsRow.css("display") === "none") {
        if (!detailsRow.data("fetched")) {
            $("#" + testcaseresultId + "-message").text("{% trans 'Loading...' %}");

            var url = Urls["solutions:test_case_result"](solutionId, testcaseresultId);
            $.get(url, function(data) {
                $("#" + testcaseresultId + "-data").html(data);
                detailsRow.data("fetched", true);
            }).fail(function() {
                $("#" + testcaseresultId + "-message").text("{% trans 'Error while getting data from server.' %}");
            });
        }

        detailsRow.show();
        arrow.html("&#x25BC;");
    } else {
        detailsRow.hide();
        arrow.html("&#x25BA;");
    }
}

$(document).ready(function() {
    $(".ir-toggle-row").click(showHideTest);
});
</script>

{% endblock %}
