{% extends "base.html" %}

{% block content %}
<h1>List of Solutions</h1>

<table class="table table-condensed table-striped table-hover">
	<thead>
		<tr>
			<th>ID</th>
			<th>Filename</th>
			<th>Short Name</th>
			<th>Complexity</th>
			<th>Links</th>
		</tr>
	</thead>
	<tbody>
		{% for solution in object_list %}
		<tr>
			<td><a href="{% url 'problems:overview' solution.id %}">{{solution.id}}</a></td>
			<td>{{solution.filename}}</td>
			<td>{{solution.programming_language.get_family_display}}</td>
			<td>{{solution.complexity}}</td>
			<td><a href="{% url 'problems:statement' solution.id %}"><span class="glyphicon glyphicon-file" aria-hidden="true"></span></a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}
