{% extends "base.html" %}

{% load bootstrap3 %}
{% load i18n %}
{% load irunner_proglangs %}
{% load irunner_solutions %}
{% load staticfiles %}

{% block content %}
<div class="panel panel-default ir-solution-panel">
    <div class="panel-body">
        <h2>
            {% irunner_solutions_judgementbox solution.best_judgement %}
            {% trans 'Solution' %} {{ solution.id }}
        </h2>
        <div class="row">
            <div class="col-md-6">
                <dl class="dl-horizontal">
                    {% if solution.problem %}
                        <dt>{% trans 'Problem' %}</dt>
                        <dd>{{ solution.problem.numbered_full_name }}</dd>
                    {% endif %}

                    <dt>{% trans 'Submission time' %}</dt>
                    <dd>{{ solution.reception_time }}</dd>

                    {% if solution.ip_address %}
                        <dt>{% trans 'IP address' %}</dt>
                        <dd><tt>{{ solution.ip_address }}</tt></dd>
                    {% endif %}

                    <dt>{% trans 'Compiler' %}</dt>
                    <dd>{% irunner_proglangs_compilerbox solution.compiler tooltip=False %} {{ solution.compiler }}</dd>
                </dl>
            </div>

            <div class="col-md-6">
                <dl class="dl-horizontal">
                </dl>
            </div>
        </div>
        <div class="row">
            <div class="span12 text-center">
                <ul class="nav nav-pills ir-solution-nav-pills">
                    {% if solution_permissions.source_code %}
                        <li role="presentation"{% if active_tab == 'source' %} class="active"{% endif %}><a href="{% url 'solutions:source' solution.id %}">Исходный код</a></li>
                    {% endif %}

                    {% if solution_permissions.compilation_log %}
                        <li role="presentation"{% if active_tab == 'log' %} class="active"{% endif %}><a href="{% url 'solutions:log' solution.id %}">Журнал компиляции</a></li>
                    {% endif %}

                    {% if solution_permissions.judgements %}
                        <li role="presentation"{% if active_tab == 'judgements' %} class="active"{% endif %}><a href="{% url 'solutions:judgements' solution.id %}">{% trans 'Judgements' %}</a></li>
                    {% endif %}

                    {% if solution_permissions.results %}
                        <li role="presentation"{% if active_tab == 'tests' %} class="active"{% endif %}><a href="{% url 'solutions:tests' solution.id %}">Результаты по тестам</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% block main %}
{% endblock %}

{% endblock %}
