{% extends "base.html" %}

{% load i18n %}
{% load solution_extras %}
{% load proglang_extras %}
{% load limitboxes %}
{% load resource_extras %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block content %}
<div class="panel panel-default">
<div class="panel-body">
<div class="row">
    <div class="col-sm-9">
        <h1>
            {% judgementbox solution.best_judgement header=True %}
            {% trans 'Solution' %} {{ solution.id }}
        </h1>

        <dl class="dl-horizontal">
            {% if solution.problem %}
                <dt>{% trans 'Problem' %}</dt>
                <dd>{{ solution.problem.numbered_full_name }}</dd>
            {% endif %}

            <dt>{% trans 'Submission time' %}</dt>
            <dd>2015</dd>

            <dt>{% trans 'IP address' %}</dt>
            <dd><tt>192.168.1.1</tt></dd>

            <dt>{% trans 'Compiler' %}</dt>
            <dd>{% langbox solution.compiler %} {{ solution.compiler }}</dd>
        </dl>
    </div>
    <div class="col-sm-3">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" class="active"><a href="#">Исходный код</a></li>
            <li role="presentation"><a href="#">Журнал компиляции</a></li>
            <li role="presentation"><a href="#">Результаты по тестам</a></li>
        </ul>
    </div>
</div>
</div>
</div>
{% block main %}
{% endblock %}

{% endblock %}
