{% extends 'base.html' %}

{% load i18n %}
{% load static %}
{% load irunner_pylightex %}

{% block head %}
    {% irunner_pylightex_head %}
{% endblock %}

{% block content %}

{% blocktrans asvar the_title %}Introduction to TeX markup{% endblocktrans %}
<h1>{{ the_title|stylizetex }}</h1>

<h3>{% trans 'Table of contents' %}</h3>
<ol>
    {% for name, examples in sections %}
        <li><a href="#section{{ forloop.counter }}">{{ name }}</a></li>
    {% endfor %}
</ol>

<table class="table table">
{% for name, examples in sections %}
    <tr>
        <th colspan="2" class="text-center active" id="section{{ forloop.counter }}">{{ name }}</th>
    </tr>
    <tr>
        <th>{% trans 'Markup' %}</th>
        <th>{% trans 'Result' %}</th>
    </tr>
    {% for markup, result in examples %}
        <tr>
            <td><div class="pylightex"><div class="verbatim">{{ markup }}</div></div></td>
            <td><div class="pylightex">{{ result }}</div></td>
        </tr>
    {% endfor %}
{% endfor %}
</table>

{% irunner_pylightex_body %}

{% endblock %}
