<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Redirect www.domain.com to non-www" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="www.acm.bsu.by" />
                    </conditions>
                    <action type="Redirect" redirectType="Permanent" url="https://acm.bsu.by/{R:0}" />
                </rule>

                <rule name="HTTP to HTTPS redirect acm" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                        <add input="{REQUEST_URI}" negate="true" pattern="^/api/.*$" ignoreCase="false" />
                    </conditions>
                    <action type="Redirect" redirectType="Permanent" url="https://{HTTP_HOST}/{R:1}" />
                </rule>

                <rule stopProcessing="true" name="MediaWikiArticlePath" enabled="true">
                    <match url="^wiki/?(.*)?$" />
                    <action type="Rewrite" appendQueryString="false" logRewrittenUrl="false" url="w/index.php?title={UrlEncode:{R:1}}" />
                </rule>

                <rule name="ReverseProxy to Semaphore" stopProcessing="true">
                    <match url="^api/semaphore/(.*)" />
                    <action type="Rewrite" url="http://127.0.0.1:17083/{R:1}" />
                </rule>

                <rule name="ReverseProxy to Jenkins" stopProcessing="true">
                    <match url="^jenkins/(.*)" />
                    <action type="Rewrite" url="http://10.190.2.195:8080/jenkins/{R:1}" />
                </rule>

                <rule stopProcessing="true" name="robots" enabled="true">
                    <match url="^robots.txt$" />
                    <action type="Rewrite" appendQueryString="false" logRewrittenUrl="false" url="download/robots.txt" />
                </rule>
            </rules>
        </rewrite>
        <!--<httpErrors errorMode="DetailedLocalOnly" />-->

        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="209715200" />
            </requestFiltering>
        </security>

        <staticContent>
            <remove fileExtension=".woff2" />
            <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
        </staticContent>

        <handlers>
            <add name="Django Handler" path="*" verb="*" modules="FastCgiModule"
                scriptProcessor="c:\virtualenvs\irunner2_py3\scripts\python.exe|c:\virtualenvs\irunner2_py3\lib\site-packages\wfastcgi.py"
                resourceType="Unspecified" requireAccess="Script"/>
        </handlers>
    </system.webServer>

    <appSettings>
        <add key="DJANGO_SETTINGS_MODULE" value="irunner2.settings_prod" />
        <add key="PYTHONPATH" value="c:\apps\irunner2\project;c:\apps\pymod" />
        <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
        <add key="PATH" value="c:\Program Files\Git\bin" />
        <add key="DEALER_PATH" value="C:\apps\irunner2" />
        <add key="DEALER_TYPE" value="git" />
    </appSettings>
</configuration>
