{% extends "base.html" %}

{% load bootstrap3 %}
{% load i18n %}
{% load irunner_proglangs %}
{% load irunner_yesno %}

{% block content %}

<h1>{% block title %}{% trans 'Compilers' %}{% endblock %}</h1>

<div class="form-group">
    <a href="{% url 'proglangs:create' %}" class="btn btn-default">{% bootstrap_icon 'plus' %} <span class="ir-icon-label">{% trans 'New compiler' %}</span></a> 
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>{% trans 'String identifier' %}</th>
            <th>{% trans 'Description' %}</th>
            <th>{% trans 'Language' %}</th>
            <th>{% trans 'For courses?' %}</th>
            <th>{% trans 'For contests?' %}</th>
        </tr>
    </thead>
    <tbody>
    {% for compiler in compilers %}
        <tr>
            <td class="ir-monospace"><a href="{% url 'proglangs:update' compiler.id %}">{{ compiler.handle }}</a></td>
            <td>{{ compiler.description }}</td>
            <td>{% irunner_proglangs_compilerbox compiler tooltip=False %}</td>
            <td>{% irunner_yesno compiler.default_for_courses %}</td>
            <td>{% irunner_yesno compiler.default_for_contests %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
