{% extends 'users/profile/base.html' %}

{% load bootstrap3 %}
{% load i18n %}
{% load irunner_yesno %}

{% block main %}
    <dl class="dl-horizontal">
        <dt>{% trans 'Two-factor authentication' %}</dt>
        <dd>{% irunner_yesno enabled %}</dd>
    </dl>

    {% if enabled and permissions.can_edit_aux_props %}
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">{% trans 'Disable 2FA' %}</button>
        </form>
    {% endif %}
{% endblock %}
